@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script&family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script&family=Oswald:wght@200;300&family=Sai");
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Shizuru&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.bglogo {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 500px;
  position: absolute;
  top: 50vh;
  left: 45vw;
  z-index: 0;
}

.p1 {
  position: relative;
  bottom: 5px;
}

.p3 {
  position: absolute;
  top: 150px;
  left: 25px;
}

.p4 {
  position: relative;
  left: 5px;
}

.p5 {
  position: relative;
  left: 20px;
}

.body {
  min-height: 100vh;
  background: var(--gradient, linear-gradient(123deg, #12124e, #070020));
  color: #fff;
  padding: 2vw 5vw;
  font-family: cursive;
  position: relative;
}

.heading {
  text-align: center;

  color: #fff;
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.5vw;
  font-family: "Whisper", cursive;
  margin-bottom: 5vh;
}

.clr {
  background: var(--gradient, linear-gradient(90deg, #73cddb 51.48%, #333ef2 113.1%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  line-height: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.leftPortion,
.rightPortion {
  width: 37vw;

  color: #fff;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6vh;
  position: relative;
  z-index: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
}

.tittle {
  font-size: 2vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.8vw;
  font-family: "Whisper", cursive;
}

.para {
  border-left: 0.5vw solid;
  border-color: var(--gradient, #73cddb);
  padding-left: 1vw;
}

.glimpes {
  border-left: 0.5vw solid;
  border-color: var(--gradient, #73cddb);
}

.embed {
  box-sizing: border-box;
  border: 1px solid #333ef2;
  margin-left: 2vw;
  margin-right: 0.5vw;
  margin-top: 2vh;
  /* height: 295px; */

  background: var(--gradient, linear-gradient(90deg, #7381db 51.48%, #333ef2 113.1%));
  flex-shrink: 0;
}

/* For Responsive Layout */

/* Tablet View */

@media only screen and (max-width: 1000px) {
  .heading {
    font-size: 8vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6vh;
  }

  .cards {
    height: 20vh;
  }

  .leftPortion,
  .rightPortion {
    width: 100%;
    font-size: 1.8vw;
  }

  .tittle {
    font-size: 3vw;
  }

  .bglogo {
    top: 37vh;
    left: 43vw;
    opacity: 0.5;
  }
}

/* Mobile View */

@media only screen and (max-width: 600px) {
  .cards {
    height: 10vh;
  }

  .bglogo {
    top: 20vh;
    left: 37vw;
    opacity: 0.5;
  }
}

/* Absolute: wrt Parent
   Realative: wrt Original Position */
