@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lato&family=Neucha&display=swap");

.body {
  min-height: 100vh;
  background: linear-gradient(180deg, #063347 0%, #02161f 100%);
  color: #fff;
  padding: 10vh 5vw;
  font-family: Neucha;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.about_us {
  position: relative;
  left: 10vw;

  width: 40vw;
  font-size: min(24px, 5vw);
  align-self: flex-start;
}

.about_nits {
  position: relative;
  right: 10vw;

  width: 40vw;
  font-size: min(24px, 5vw);
  align-self: flex-end;
}

.heading {
  font-family: allura;
  font-size: min(40px, 8vw);
  letter-spacing: 2px;
  font-weight: bold;

  position: relative;
  width: fit-content;
}

.heading:before,
.heading:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #ffffc7;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.heading:before {
  top: 2px;
  transform: translateY(10px);
}

.heading:after {
  bottom: 2px;
  transform: translateY(-10px);
}

.heading:hover:before,
.heading:hover:after {
  opacity: 0.8;
  transform: translateY(0px);
}

.content {
  line-height: 1.4;
}

/* Responsive CSS */
@media only screen and (max-width: 900px) {
  .body {
    gap: 10vh;
  }
  .about_us,
  .about_nits {
    width: 100%;
    align-self: baseline;
    left: 0;
    right: 0;
  }
}
