@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap");

.Footer {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat Alternates;
  a {
    text-decoration: none;
    color: #acebbd;
  }
  .hills {
    position: relative;
    display: flex;
    height: 30vw;
    width: 100vw;
    object-fit: cover;
  }
  .container {
    width: 100%;
    padding: 10%;
    padding-block: 5%;
    height: fit-content;
    background: linear-gradient(
      90deg,
      #001e1b 2.06%,
      #001e1b 60.27%,
      #001e27 76.54%,
      #003238 92.2%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: #acebbd;
      font-size: 2rem;
      text-align: center;

      .follow {
        .social {
          display: flex;
          justify-content: center;
          gap: 5px;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
        }
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        .contact {
          span {
            font-size: 1rem;
          }
        }
      }
    }
    .logo {
      width: 30vw;
      height: 15vw;
      position: relative;
    }
  }
}
