@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Footer {
  display: flex;
  width: 100%;
  // height: fit-content;
  position: relative;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  font-family: Montserrat Alternates;
  // padding-bottom:0 ;
  a {
    text-decoration: none;
    color: #acebbd;
  }
  .hills {
    position: relative;
    display: flex;
    height: 30vw;
    width: 100vw;
    object-fit: cover;
  }
  .container {
    width: 100%;
    padding: 10%;
    padding-block: 5%;
    height: fit-content;
    background: linear-gradient(
      90deg,
      #001e1b 2.06%,
      #001e1b 60.27%,
      #001e27 76.54%,
      #003238 92.2%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: #acebbd;
      font-size: 2.5rem;
      text-align: center;

      .follow {
        .social {
          display: flex;
          justify-content: center;
          gap: 5px;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
        }
      }

      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        .contact {
          span {
            font-size: 1rem;
          }
        }
      }
    }
    .logo {
      width: 40vw;
      height: 20vw;
      position: relative;
    }
  }

  .ecell_copyright {
    background: #011e1c;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    padding: 7vh 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;

    .ecell {
      color: #fff;
      img {
        background: #ffff;
        border-radius: 50%;
        height: 4vh;
        width: 1.8vw;
        margin: 0 0.3vw;
        transform: translateY(1vh);
      }
    }
    .copyright {
      color: #acebbd;
    }
  }

  @media screen and (max-width: 900px) {
    .ecell_copyright {
      .ecell img {
        margin: 0 0.8vw;
        height: 3.5vh;
        width: 7vw;
      }
      .copyright {
        width: 70%;
        text-align: center;
      }
    }
  }
}
