@import url("https://fonts.googleapis.com/css2?family=Gilroy-Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

$text-color: #ffffff;
.heroText {
  width: 100%;
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.loki {
  font-size: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: loki 10s ease-out both;;
  .letter {
    color: $text-color;
    font-family: "Gilroy-light", Helvetica;
    font-size: 8vw;
    font-weight: 300;
    letter-spacing: 2.56px;
    line-height: normal;
    text-shadow: 0px 12px 30px #ffffff80;
    text-wrap: nowrap;
  }
}

@keyframes loki {
  0% {
    transform: scale(0.7) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.15) translateY(15px);
    transform-origin: bottom;
  }
}