.container {
  margin-top: 20vh;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  border-image: linear-gradient(180deg, #031431 0%, #070020 100%);
  border-top-width: 5px;
  border-top-style: solid;

  position: absolute;
  bottom: -20%;
}

.liquid {
  background-color: #031633;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.liquid::before {
  content: "";
  position: absolute;
  width: 260vw;
  height: calc(130vw * 2);
  border-radius: 40%;
  background-color: #012863;
  top: 0;
  left: 0;
  animation: liquid2 10s linear infinite;
}

.liquid::after {
  content: "";
  position: absolute;
  width: 260vw;
  height: calc(130vw * 2);
  border-radius: 45%;
  background-color: black;
  animation: liquid 10s linear infinite;
}

@keyframes liquid {
  0% {
    transform: translate(-30%, -97%) rotate(0deg);
  }
  100% {
    transform: translate(-30%, -97%) rotate(360deg);
  }
}

@keyframes liquid2 {
  0% {
    transform: translate(-25%, -95%) rotate(0deg);
  }
  100% {
    transform: translate(-25%, -95%) rotate(360deg);
  }
}
