.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  // perspective: 1px;
  // z-index: -1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    0deg,
    #ffffdb 36%,
    #fbfedb 47%,
    #edfcdd 60%,
    #d8f7df 73%,
    #b9f2e1 86%,
    #92eae5 100%
  );

  #leftTree {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 199;
  }
  #rightTree {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 195;
  }

  #foreground {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80vh;
    width: 100vw;
    z-index: 99;
    display: flex;
    align-items: end;
    transform: translateX(-100px);
    // transform: ;
    animation: foregroundMagnify 2s ease-in-out forwards;
    animation-delay: 3s;
    svg {
      width: 110%;
      height: 100%;
      // transform: translateY(15%);
      position: absolute;
      transition: all 0.5s ease-in-out;

      @media screen and (max-width: 1980px) {
        transform: translateY(10%);
      }
      @media screen and (max-width: 1400px) {
        transform: translateY(20%) translateX(-100px);
        width: 160%;
        height: 120%;
      }
      @media screen and (max-width: 900px) {
        transform: translateY(0);
      }
    }

    @media screen and (max-width: 900px) {
      height: 40vh;
      width: 140vw;
    }
  }

  #background {
    position: absolute;
    // min-width: 600px;
    left: 0;
    // bottom: 0;
    bottom: -10vh;
    z-index: 9;
    height: 100vh;
    width: 190vw;
    animation: backgroundshrink 2s ease-in-out forwards;
    animation-delay: 3s;

    img {
      width: 100%;
      height: 100%;
      transform: translateX(-30%);

      @media screen and (max-width: 600px) {
        transform: translateX(-30%) translateY(-5%);
        width: 140% !important;
      }
    }
  }

  #hills {
    position: relative;
    left: 0;
    top: -5px;
    z-index: 0;
    width: 120vw;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: hillsmagnify 2s ease-in-out forwards;
    animation-delay: 3s;
    svg {
      width: 160%;
      // height: 100%;
      position: absolute;
      background-size: cover;
      transition: all 0.5s ease-in-out;
    }
  }

  .textWrapper {
    z-index: 98;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #09394a;

    .heading {
      font-size: 6vw;
      letter-spacing: 2px;
      margin-bottom: 3rem;
      transform: translateY(60vh);
      animation: animateTocentre 4s ease-in-out forwards;
      animation-delay: 1.7s;
    }

    .comingSoon {
      transform: translateY(60vh);
      animation: animateTocentre 4s ease-in-out forwards;
      animation-delay: 1.7s;
      font-weight: 900;
      font-size: 2vw;
      // font-family: poppins;
    }
    .nightText {
      color: #eaeaac;
    }
  }
  @media screen and (max-width: 600px) {
    .textWrapper {
      .heading {
        font-size: 10vw;
      }
      .comingSoon {
        font-size: 5vw;
      }
    }
  }

  @media screen and (max-width: 600px) {
    #foreground {
      width: 160vw;
      height: 30vh;
      // bottom: 60px;
      object-fit: cover;

      svg {
        width: 120%;
        height: 100%;
        transform: translateX(-10%);
      }
    }
  }

  #sun {
    display: flex;
    width: 20vh;
    height: 20vh;
    background-image: url(../../../public/images/Sun.svg);
    position: fixed;
    left: 50vw;
    top: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #moon {
    display: none;
    width: 20vh;
    height: 20vh;
    background-image: url(../../../public/images/moon.svg);
    position: fixed;
    left: 20vw;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 900px) {
      transform: translateY(40%);
    }
  }
}

@keyframes hillsmagnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes backgroundshrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes animateTocentre {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
    display: block;
  }
}

@keyframes foregroundMagnify {
  0% {
    transform: scale(1) translateX(-100px);
  }
  100% {
    transform: scale(1.25) translateX(0);
  }
}

.night {
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    0deg,
    #ffffdb 36%,
    #4c0067 47%,
    #56016b 60%,
    #3b0a53 69%,
    #11023c 84.26%,
    #01073e 100%
  );
}
