.outerWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200vh;
}

.wrapper {
  height: 100vh;
  width: 100%;
  // position: sticky;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: linear-gradient(
    0deg,
    #ffffdb 36%,
    #fbfedb 47%,
    #edfcdd 60%,
    #d8f7df 73%,
    #b9f2e1 86%,
    #92eae5 100%
  );
  #background_stars {
    z-index: 100;
    height: 10vh !important;
    width: 10vw !important;
  }

  #leftTree {
    width: 200%;
    height: 200%;
    position: absolute;
    z-index: 199;
  }
  #rightTree {
    width: 200%;
    height: 200%;
    position: absolute;
    z-index: 195;
  }
  #hill_movetree {
    width: 60%;
    height: 60%;
    z-index: 50;
    margin-top: -30vw;
    position: absolute;
    margin-right: -73vw;
  }

  #foreground {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 33vw;
    width: 100vw;
    z-index: 50;
    display: flex;
    // align-items: end;
    animation: foregroundMagnify 4.5s ease-in-out forwards;
    animation-delay: 0.3s;

    @media screen and (max-width: 900px) {
      height: 60vw;
      width: 180vw;
    }

    @media screen and (max-width: 600px) {
      width: 150vw;
      height: 50vw;
    }
  }
  .nightForeground {
    animation: nightForeground 1s ease-in-out forwards !important;
    transform: scale(1.25);
  }

  #background {
    position: absolute;
    // margin-bottom: 30%;
    bottom: -40vh;
    z-index: 40;
    height: 70vw;
    width: 130vw;
    // animation: backgroundshrink 4.5s ease-in-out forwards;
    // animation-delay: 0.3s;

    @media screen and (max-width: 900px) {
      height: 140vw;
      width: 400vw;
      margin-left: 50vw;
      bottom: -20vw;
    }
    @media screen and (max-width: 600px) {
      // height: 75vw;
      // width: 300vw;
      margin-left: 0;
    }
  }
  .nightBackground {
    animation: nightBackground 1s ease-in-out forwards !important;
    // filter: invert(0.7) hue-rotate(270deg) contrast(2);
  }

  #hills {
    position: absolute;
    // left: 0;
    // top: -5px;
    // margin-left: 50%;
    bottom: -30vh;
    z-index: 35;
    width: 70vw !important;
    height: 12vh;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // animation: hillsmagnify 4.5s ease-in-out forwards;
    // animation-delay: 0.3s;
    svg {
      width: 200%;
      // height: 100%;
      position: absolute;
      background-size: cover;
      transition: all 0.5s ease-in-out;
    }
    @media screen and (min-width: 900px) {
      height: 95vh;
      width: 100vw;
      bottom: 5vh;
    }
    @media screen and (max-width: 600px) {
      height: 22vw;
      width: 80vw;
      bottom: 40vw;
    }
  }
  .nightHills {
    background-color: #101629;
  }

  .nightHills img {
    display: none;
  }
  // .nightHills {
  //   animation: nightHills 1s ease-in-out forwards !important;
  //   // filter: invert(0.5) saturate(2.7) brightness(0.2) contrast(1.2);
  // }

  .textWrapper {
    z-index: 98;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #09394a;

    #heading {
      width: 30vw;
      height: 15vw;
      position: relative;
      transform: translateY(60vh);
      animation: animateTocentre 5s ease-in-out forwards;
      // animation-delay: 1s;
      overflow: hidden;
      object-fit: contain;
      z-index: 90;
      .flame {
        height: 40%;
        width: 20%;
        left: 1%;
        // top: -1%;
        position: absolute;
        z-index: 100;
        transform: rotate(20deg);
      }
      @media screen and (max-width: 900px) {
        width: 40vw;
        height: 20vw;
      }
      @media screen and (max-width: 600px) {
        width: 60vw;
        height: 30vw;
      }
      .dark {
        // transform: translateY(100%);
        opacity: 0;
      }
      // .light {
      //   // filter: invert(1);
      // }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 1s ease-in-out;
      }

      &:hover {
        .light {
          transform: translateY(-100%);
        }
        .dark {
          transform: translateY(0%);
        }
      }
    }

    #comingSoon {
      transform: translateY(60vh);
      animation: animateTocentre 5s ease-in-out forwards;
      animation-delay: 1s;
      font-weight: 400;
      font-size: 4vw;
      bottom: 20%;
      // font-family: poppins;

      span {
        display: inline-block;
        animation: dotAnimation 2s ease-in-out infinite;
        // animation-delay: 5s;
      }
      .dot2 {
        animation-delay: 0.5s;
      }
      .dot3 {
        animation-delay: 1s;
      }
      @keyframes dotAnimation {
        0% {
          transform: translateY(0%);
        }
        50% {
          transform: translateY(-15%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    }
    @media screen and (max-width: 600px) {
      #comingSoon {
        font-size: 8vw;
      }
      top: 50%;
    }

    @keyframes textColor {
      0% {
        color: #09394a;
      }
      100% {
        color: #eaeaac;
      }
    }
    .nightText {
      animation: textColor 1s ease-in forwards !important;
    }
  }

  #sun {
    display: flex;
    width: 10vw;
    height: 10vw;
    background-image: url(../../../public/images/hero_assets/Sun.svg);
    position: absolute;
    left: 42vw;
    bottom: 30vw;
    z-index: 36;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 1400px) {
      width: 15vw;
      height: 15vw;
      bottom: 30vw;
    }
    @media screen and (max-width: 900px) {
      width: 17vw;
      height: 17vw;
      bottom: 50vw;
    }
    @media screen and (max-width: 600px) {
      // width: 25vw;
      // height: 25vw;
      bottom: 55vw;
    }
  }
  #moon {
    display: none;
    width: 14vw;
    height: 14vw;
    z-index: 36;
    background-image: url(../../../public/images/hero_assets/Moon.svg);
    position: absolute;
    left: 38vw;
    bottom: 1vw;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 1400px) {
      width: 15vw;
      height: 15vw;
      bottom: 12vw;
    }
    @media screen and (max-width: 900px) {
      width: 17.5vw;
      height: 17.5vw;
      bottom: 30vw;
      transform: translateY(30%);
    }
    @media screen and (max-width: 600px) {
      width: 20vw;
      height: 20vw;
      bottom: 27vw;
    }
  }
}

@keyframes hillsmagnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes backgroundshrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes animateTocentre {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
    display: block;
  }
}

@keyframes foregroundMagnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes nightForeground {
  0% {
    filter: none;
  }
  100% {
    filter: invert(0.1) saturate(2.7) brightness(0.5) contrast(1.2);
  }
}

// @keyframes nightHills {
//   0% {
//     filter: none;
//   }
//   100% {

//   }
// }
// @keyframes nightBackground {
//   0% {
//     filter: none;
//   }
//   100% {
//     filter: brightness(0.6) saturate(0.7) contrast(3) hue-rotate(90deg);
//   }
// }
.night {
  animation: nightbg 1s ease-in-out forwards !important;
  // backdrop-filter: brightness(0.5) contrast(1) invert(0.1);
}
@keyframes nightbg {
  0% {
    background-color: #92eae5;
    background-image: none;
  }
  50% {
    background-color: #11023c;
  }
  70% {
    background-color: #01073e;
    background-image: linear-gradient(
      0deg,
      #56016b 32%,
      #3b0a53 40%,
      #11023c 65.26%,
      #01073e 100%
    );
  }
  90% {
    background-image: linear-gradient(
      0deg,
      #56016b 35%,
      #3b0a53 50%,
      #11023c 75.26%,
      #01073e 100%
    );
  }
  100% {
    background-image: linear-gradient(
      0deg,
      #56016b 40%,
      #380751 67%,
      #11023c 84.26%,
      #01073e 100%
    );
  }
}

.movingtree {
  transform-origin: bottom right;
  animation: branchOcsilate 10s ease-in-out infinite;
}
@keyframes branchOcsilate {
  0% {
    transform: rotateZ(2deg);
  }
  50% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(2deg);
  }
}
