.outerWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200vh;
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: linear-gradient(
    0deg,
    #ffffdb 36%,
    #fbfedb 47%,
    #edfcdd 60%,
    #d8f7df 73%,
    #b9f2e1 86%,
    #92eae5 100%
  );
}
.wrapper #leftTree {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 199;
}
.wrapper #rightTree {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 195;
}
.wrapper #foreground {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 33vw;
  width: 100vw;
  z-index: 50;
  display: flex;
  animation: foregroundMagnify 4.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
@media screen and (max-width: 900px) {
  .wrapper #foreground {
    height: 60vw;
    width: 180vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper #foreground {
    width: 150vw;
    height: 50vw;
  }
}
.wrapper .nightForeground {
  animation: nightForeground 1s ease-in-out forwards !important;
  transform: scale(1.25);
}
.wrapper #background {
  position: absolute;
  bottom: -10vw;
  z-index: 40;
  height: 70vw;
  width: 200vw;
  animation: backgroundshrink 4.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
@media screen and (max-width: 900px) {
  .wrapper #background {
    height: 140vw;
    width: 400vw;
    margin-left: 50vw;
    bottom: -20vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper #background {
    margin-left: 0;
  }
}
.wrapper .nightBackground {
  animation: nightBackground 1s ease-in-out forwards !important;
}
.wrapper #hills {
  position: absolute;
  bottom: 15vw;
  z-index: 35;
  width: 100vw;
  height: 24vw;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: hillsmagnify 4.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
.wrapper #hills svg {
  width: 100%;
  position: absolute;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 900px) {
  .wrapper #hills {
    height: 40vw;
    width: 160vw;
    bottom: 25vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper #hills {
    height: 22vw;
    width: 80vw;
    bottom: 40vw;
  }
}
.wrapper .nightHills {
  animation: nightHills 1s ease-in-out forwards !important;
}
.wrapper .textWrapper {
  z-index: 98;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #09394a;
}
.wrapper .textWrapper #heading {
  width: 30vw;
  height: 15vw;
  position: relative;
  transform: translateY(60vh);
  animation: animateTocentre 5s ease-in-out forwards;
  overflow: hidden;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 90;
}
.wrapper .textWrapper #heading .flame {
  height: 40%;
  width: 20%;
  left: 1%;
  position: absolute;
  z-index: 100;
  transform: rotate(20deg);
}
@media screen and (max-width: 900px) {
  .wrapper .textWrapper #heading {
    width: 40vw;
    height: 20vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .textWrapper #heading {
    width: 60vw;
    height: 30vw;
  }
}
.wrapper .textWrapper #heading .dark {
  opacity: 0;
}
.wrapper .textWrapper #heading img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 1s ease-in-out;
}
.wrapper .textWrapper #heading:hover .light {
  transform: translateY(-100%);
}
.wrapper .textWrapper #heading:hover .dark {
  transform: translateY(0%);
}
.wrapper .textWrapper #comingSoon {
  transform: translateY(60vh);
  animation: animateTocentre 5s ease-in-out forwards;
  animation-delay: 1s;
  font-weight: 400;
  font-size: 4vw;
  bottom: 20%;
}
.wrapper .textWrapper #comingSoon span {
  display: inline-block;
  animation: dotAnimation 2s ease-in-out infinite;
}
.wrapper .textWrapper #comingSoon .dot2 {
  animation-delay: 0.5s;
}
.wrapper .textWrapper #comingSoon .dot3 {
  animation-delay: 1s;
}
@keyframes dotAnimation {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .textWrapper {
    top: 50%;
  }
  .wrapper .textWrapper #comingSoon {
    font-size: 8vw;
  }
}
@keyframes textColor {
  0% {
    color: #09394a;
  }
  100% {
    color: #eaeaac;
  }
}
.wrapper .textWrapper .nightText {
  animation: textColor 1s ease-in forwards !important;
}
.wrapper #sun {
  display: flex;
  width: 10vw;
  height: 10vw;
  background-image: url(../../../public/images/Sun.svg);
  position: absolute;
  left: 50vw;
  bottom: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1400px) {
  .wrapper #sun {
    width: 15vw;
    height: 15vw;
    bottom: 30vw;
  }
}
@media screen and (max-width: 900px) {
  .wrapper #sun {
    width: 17vw;
    height: 17vw;
    bottom: 50vw;
  }
}
@media screen and (max-width: 600px) {
  .wrapper #sun {
    bottom: 55vw;
  }
}
.wrapper #moon {
  display: none;
  width: 10vw;
  height: 10vw;
  background-image: url(../../../public/images/newMoon.svg);
  position: absolute;
  left: 20vw;
  bottom: 18vw;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1400px) {
  .wrapper #moon {
    width: 15vw;
    height: 15vw;
    bottom: 12vw;
  }
}
@media screen and (max-width: 900px) {
  .wrapper #moon {
    width: 17.5vw;
    height: 17.5vw;
    bottom: 30vw;
    transform: translateY(30%);
  }
}
@media screen and (max-width: 600px) {
  .wrapper #moon {
    width: 20vw;
    height: 20vw;
    bottom: 27vw;
  }
}

@keyframes hillsmagnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes backgroundshrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes animateTocentre {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
    display: block;
  }
}
@keyframes foregroundMagnify {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@keyframes nightForeground {
  0% {
    filter: none;
  }
  100% {
    filter: invert(0.1) saturate(2.7) brightness(0.5) contrast(1.2);
  }
}
@keyframes nightHills {
  0% {
    filter: none;
  }
  100% {
    filter: invert(0) saturate(1.8) brightness(0.3) contrast(2) hue-rotate(140deg);
  }
}
@keyframes nightBackground {
  0% {
    filter: none;
  }
  100% {
    filter: brightness(0.6) saturate(0.7) contrast(3) hue-rotate(90deg);
  }
}
.night {
  animation: nightbg 1s ease-in-out forwards !important;
}

@keyframes nightbg {
  0% {
    background-color: #92eae5;
    background-image: none;
  }
  50% {
    background-color: #11023c;
  }
  70% {
    background-color: #01073e;
    background-image: linear-gradient(
      0deg,
      #56016b 32%,
      #3b0a53 40%,
      #11023c 65.26%,
      #01073e 100%
    );
  }
  90% {
    background-image: linear-gradient(
      0deg,
      #56016b 35%,
      #3b0a53 50%,
      #11023c 75.26%,
      #01073e 100%
    );
  }
  100% {
    background-image: linear-gradient(
      0deg,
      #56016b 40%,
      #380751 67%,
      #11023c 84.26%,
      #01073e 100%
    );
  }
} /*# sourceMappingURL=Hero.module.css.map */
