.CAhero {
  padding: 10% 5%;
  padding-right: 0%;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 760px) {
  .CAhero {
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
@media screen and (max-width: 524px) {
  .CAhero {
    padding: 20% 0%;
  }
}
@media screen and (max-width: 375px) {
  .CAhero {
    min-height: 100vh;
  }
}
.CAhero .heroInfo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.CAhero .heroInfo .content p {
  line-height: 1.6;
}
@media screen and (max-width: 760px) {
  .CAhero .heroInfo .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .CAhero .heroInfo .content h1 {
    text-align: center;
    line-height: 1.6;
  }
  .CAhero .heroInfo .content p {
    text-align: center;
    line-height: 1.6;
  }
}
.CAhero .heroInfo .content button {
  margin-top: 3vw;
  margin-bottom: 4vw;
}
@media screen and (max-width: 610px) {
  .CAhero .heroInfo .content button {
    margin-top: 7vw;
  }
}
@media screen and (max-width: 760px) {
  .CAhero .heroInfo {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
  }
}
.CAhero .heroInfo h1 {
  font-size: 2.7vw;
  font-weight: 400;
}
@media screen and (max-width: 760px) {
  .CAhero .heroInfo h1 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .CAhero .heroInfo h1 {
    font-size: 5vw;
  }
}
.CAhero .heroInfo p {
  font-size: 1.5vw;
  font-weight: 300;
  display: flex;
  margin: 1rem 0;
}
@media screen and (max-width: 760px) {
  .CAhero .heroInfo p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .CAhero .heroInfo p {
    font-size: 3vw;
  }
}
.CAhero .heroInfo .logo {
  position: relative;
  width: 20vw;
  height: 10vw;
}
@media screen and (max-width: 760px) {
  .CAhero .heroInfo .logo {
    width: 74vw;
    height: 37vw;
    margin-left: -40px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 7vw;
  }
  .CAhero .heroInfo .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.CAhero .dreamCatcher {
  position: relative;
  margin-top: -2.2vw;
}
@media screen and (max-width: 760px) {
  .CAhero .dreamCatcher {
    margin-top: 2vw;
    padding-bottom: 5vw;
    width: 100%;
  }
  .CAhero .dreamCatcher #lottie {
    margin-top: 7vw !important;
    width: 95vw !important;
  }
}
.CAhero .dreamCatcher #lottie {
  margin: 48px auto;
}
@media screen and (max-width: 322px) {
  .CAhero .dreamCatcher #lottie {
    width: 70vw !important;
  }
}
@media screen and (max-width: 414px) {
  .CAhero .dreamCatcher #lottie {
    width: 90vw !important;
    margin: 68px auto;
  }
}
@media screen and (max-width: 365px) {
  .CAhero .dreamCatcher #lottie {
    width: 73vw !important;
  }
}
.CAhero .dreamCatcher .bg {
  position: absolute;
  height: 100%;
  width: 100% !important;
  background: url(../../../../public/images/Card/Figma.gif) no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  filter: blur(30px);
  background-position: center;
}
@media screen and (max-width: 660px) {
  .CAhero .dreamCatcher .bg {
    top: -50vw;
    height: 100vh;
  }
}

#zindexup {
  position: relative;
  z-index: 2;
} /*# sourceMappingURL=CAhero.module.css.map */
