.CAhero {
  padding: 10% 5%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 760px) {
    flex-wrap: wrap-reverse;
  }
  .heroInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width: 760px) {
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 80%;
    }
    h1 {
      font-size: 2.7vw;
      font-weight: 400;
      @media screen and (max-width: 760px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 500px) {
        font-size: 5vw;
      }
    }
    p {
      font-size: 1.5vw;
      font-weight: 300;
      display: flex;
      width: 60%;
      margin: 1rem 0;
      @media screen and (max-width: 760px) {
        font-size: 2.5vw;
        width: 80%;
      }

      @media screen and (max-width: 500px) {
        font-size: 3vw;
        width: 90%;
      }
    }
    .logo {
      position: relative;
      width: 20vw;
      height: 10vw;
    }
  }

  .dreamCatcher{
    position: relative;
  }

  .bg{
    position: absolute;
    height: 120%;
    width: 120%;
    background: url(../../../../public/images/Card/Figma.gif)  no-repeat;
    object-fit: cover;
    filter: blur(30px) opacity(75%);
    overflow: hidden;
    object-position: center;
  }
}
