.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

// .bro {
//     width: 350px;
//     height: 440px;
//     background: rgba(255, 255, 255, 0.25);
//     backdrop-filter: blur(5px);
//     border: 6px solid rgba(255, 255, 255, 0.18);
//     border-radius: 40px;
//     z-index: 1;
//     position: relative;
//     overflow: hidden;
// }

// .content {
//     margin: 20px 50px;

//     h2 {
//         margin-top: 15px;
//         width: 350px;
//         font-size: 3.5em;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//     }

//     p {
//         width: 350px;
//         font-size: 1em;
//         margin-top: -30px;
//     }
// }

// .content::after {

//     content: '';
//     position: absolute;
//     inset: 3px;
//     border-radius: 40px;
//     // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

//     // background: rgba(185, 177, 177, 0.9);

// }

// .hehe {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translate(-50%, -50%);
//     background: radial-gradient(green, transparent, transparent);
//     height: 600px;
//     width: 600px;
// }

.card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background: rgba(45, 45, 45, 1);
  border-radius: 2.5rem;
  overflow: hidden;
  //  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 3rem;
  background: linear-gradient(
    159deg,
    rgba(255, 255, 255, 0.05) 4.97%,
    rgba(255, 255, 255, 0.03) 94.04%
  );

  .bro {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgb(255, 255, 255), transparent, transparent);
    height: 600px;
    width: 600px;

    // opacity: 0;
  }
}

.card::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 2.5rem;
  background: rgba(45, 45, 45, 0.9);
}

// .bro:hover{
//     opacity: 1;
// }

.in {
  width: 93%;
  height: 95%;
  border-radius: 2.5rem;
  position: relative;
  z-index: 3;
  object-fit: cover;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    opacity: 0.8;
  }
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
