.container {
  margin: 9% 5%;

  @media screen and (max-width: 420px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .text {
    text-align: center;
    font-size: max(6vw, 2rem);
    color: white;
  }

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    margin-top: 9%;

    .Cardwrapper {
      padding: 2% 2.5%;
      padding-bottom: 4%;
      border-radius: 20px;

      background-image: url("../../../public/BgElements.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1.5px solid;
      background-color: #010608;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 10px;

        @media screen and (max-width: 420px) {
          height: 30vw;
          width: 30vw;
        }
      }

      .name {
        margin-top: 2vw;
        // color: linear-gradient(180deg, #FFFFFF 43.1%, rgba(255, 255, 255, 0) 100%);
        background-image: linear-gradient(
          180deg,
          #ffffff 43.1%,
          rgba(255, 255, 255, 0) 100%
        );
        background-clip: text;
        color: transparent;
        font-size: max(2vw, 1.25rem);
      }
    }
  }
}
