/* With respect to CSSLayout.io I fixed what they were giving away so it resembled what they were offering to give away. */

.w3-container {
  margin: auto;
  padding: 0.01em 16px;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
}
.zigzag-timeline__item {
  /* Used to position the milestone */
  position: relative;

  /* Border */
  border-bottom: 3px solid #eeeefa;
  //   border-top: 3px solid #eeeefa;

  /* Take full width */
  width: 100%;
  display: flex;
  flex-direction: column;

  /* Room for milestone */
  padding-left: 48px;
  padding-right: 48px;
  padding-block: 3rem;

  &:hover {
    .zigzag-timeline__milestone {
      animation: blin 3s infinite ease-in-out;
    }
  }
}

p,
h3 {
  display: block;
  margin-block-start: 0em;
  /* margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
}

.zigzag-timeline__milestone {
  /* Absolute position */
  position: absolute;
  top: 50%;

  /* Circle it */
  border-radius: 50%;
  border: 3px solid #eeeefa;
  height: 1.6rem;
  width: 1.6rem;

  /* Misc */
  background: #fff;
  text-align: center;
  padding: 10px;
}

/* Styles for even items */
.zigzag-timeline__item:nth-child(1) {
  width: 50%;
}

.zigzag-timeline__item:nth-child(2n) {
  border-left: 3px solid #eeeefa;
  border-bottom-left-radius: 2rem;
  //   transform: translate(-1rem,-0.5rem);
}

.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
  left: 0;
  transform: translate(-50%, -50%);
}

/* Styles for odd items */
.zigzag-timeline__item:nth-child(2n + 1) {
  border-right: 3px solid #eeeefa;
  align-items: end;
  border-bottom-right-radius: 2rem;
  p {
    text-align: right;
    width: 50%;
    transition: 0.5s ease-in-out all;
    &:hover {
      transform: translateX(-100%);
    }
  }
}

.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
  right: 0;
  transform: translate(50%, -50%);
}

.zigzag-timeline__item:last-child {
  width: 50%;
  align-self: flex-end;
  border-bottom: none;
  border-radius: 0;
}
