.container {
  background: linear-gradient(180deg, #749bff 0%, #00f2e3 100%);
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  // display:flex;
  overflow: hidden;

  .wrapper {
    width: 30vw;
    height: 30vh;
    display: flex;
    margin: auto;
    padding-top: 10vh;
    color: white;
    font-size: 5vh;
    flex-direction: column;
    text-align: center;
    .grp1 {
      font-size: 7vh;
      display: flex;
      align-items: flex-end;
    }
    .group1 {
      display: flex;
      justify-content: center;
      align-items: center;
      // bottom:0;
      gap: 1rem;
      // flex-direction: ;
      .dotgrp {
        display: flex;
        gap: 0.8rem;
        // align-items: flex-end;
        .dots {
          width: 1rem;
          height: 1rem;
          background-color: white; /* Set your desired background color */
          border-radius: 50%;
        }
      }
    }
  }
  .numbers {
    display: flex;
    // position: relative;
    margin-top: 5vh;
    width: 25%;

    margin: auto;

    // justify-content: space-around;
    align-items: center;
    gap: 5vw;
    .zero {
      position: relative;
      // width:200%;
      // top:10rem;
      // margin:auto;
      // bottom: 0;
      // right: 0;
      // left: 0;
      margin: auto;
      // width:200%;
      animation: zeroanim linear 3s infinite ease-in-out;
    }
    .four {
      // position: absolute;
      // top:10rem;
      // margin:auto;
      // bottom: 0;
      // right: 0;
      // left: 0;
      // margin: auto;
      // width:200%;
      animation: zeroanim linear 3s infinite ease-in-out;
    }

    @keyframes zeroanim {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-30%);
      }
    }
  }
  // .waveWrapper {
  //     position: relative;
  //     display: flex;
  //     background-color: red;

  //     .wave{
  //         background-color: red;

  //         .waveDB{
  //             position:absolute;
  //             top:10rem;
  //             // margin:auto;
  //             bottom:0;
  //             width:200%;
  //             // height:50%;
  //             z-index:20;
  //             // animation:wave linear 5s infinite;
  //         }
  //         .waveB{
  //             position:absolute;
  //             top:10rem;
  //             bottom:0;
  //             z-index:15;
  //             width:200%;
  //             // height:50%;
  //             // animation:wave linear 5s reverse infinite;
  //         }
  //         .waveLB{
  //             position:absolute;
  //             top:10rem;
  //             bottom:0;
  //             width:200%;
  //             // height:50%;
  //             // animation:wave linear 5s infinite;
  //         }
  //         // @keyframes wave {
  //         //     0% {
  //         //         transform: translateX(-100%) ;
  //         //     }
  //         //     100% {
  //         //         transform: translateX(0) ;
  //         //     }
  //         // }

  //         }

  // }
  // .numbers{
  //   position: relative;
  //   height: 80vh;
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   .numwrapper{
  //     width:100%;
  //     .zero{
  //       width: 200%;
  //       position: absolute;
  //       bottom: 0;
  //     }
  //   }
  // }
  // @keyframes zeroanim {
  //   0% {
  //     transform: translateY(0);
  //   }
  //   100% {
  //     transform: translateY(-30%);
  //   }
  // }

  .waveWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

    .wave {
      width: 100%;
      height: 10%;

      .waveDB {
        width: 200%;
        position: absolute;
        bottom: 0;
        // inset:0 0 -16% 0;
        animation: wave3 linear 5s infinite alternate-reverse;
        z-index: 999;
      }
      .waveB {
        width: 200%;
        z-index: 500;
        position: absolute;
        bottom: 0;
        animation: wave2 linear 5s infinite alternate-reverse;
      }
      .waveLB {
        width: 200%;
        position: absolute;
        bottom: 0;
        animation: wave1 linear 5s infinite alternate-reverse;
      }
    }

    @keyframes wave1 {
      0% {
        transform: translateX(-40%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes wave2 {
      0% {
        transform: translateX(-25%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes wave3 {
      0% {
        transform: translateX(-16%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
