.container {
  background: linear-gradient(180deg, #749bff 0%, #00f2e3 100%);
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  // display:flex;
  overflow: hidden;

  .wrapper {
    // width: 30vw;
    // height: 30vh;
    // display: flex;
    margin: auto;
    padding-top: 10vh;
    color: white;
    // font-size: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .grp2 {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vh;
    }
    .group1 {
      display: flex;
      justify-content: center;
      align-items: center;
      // bottom:0;
      gap: 1rem;
      .grp1 {
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
      }
      // flex-direction: ;
      .dotgrp {
        display: flex;
        gap: 0.8rem;
        padding-top: 1rem;
        // align-items: flex-end;
        .dots {
          width: 0.7rem;
          height: 0.7rem;
          background-color: white; /* Set your desired background color */
          border-radius: 50%;
        }
      }
    }
  }
  .numbers {
    display: flex;

    // position: relative;
    margin-top: 5vh;
    width: 20%;

    margin: auto;

    justify-content: center;
    align-items: center;
    gap: 1vw;
    // .zero {
    //   position: relative;
    //   // width:200%;
    //   // top:10rem;
    //   // margin:auto;
    //   // bottom: 0;
    //   // right: 0;
    //   // left: 0;
    //   margin: auto;
    //   // width:200%;
    //   animation: zeroanim linear 3s infinite ease-in-out;
    // }
    // .four {
    //   // position: absolute;
    //   // top:10rem;
    //   // margin:auto;
    //   // bottom: 0;
    //   // right: 0;
    //   // left: 0;
    //   // margin: auto;
    //   // width:200%;
    //   animation: zeroanim linear 3s infinite ease-in-out;
    // }

    // @keyframes zeroanim {
    //   0% {
    //     transform: translateX(0);
    //   }
    //   100% {
    //     transform: translateX(-30%);
    //   }
    // }
  }

  .waveWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

    .wave {
      width: 100%;
      height: 20%;

      .waveDB {
        width: 200%;
        position: absolute;
        bottom: 0;
        top: revert-layer;
        // inset:0 0 -16% 0;
        animation: wave3 linear 5s infinite alternate-reverse;
        z-index: 999;
      }
      .waveB {
        top: revert-layer;
        width: 200%;
        z-index: 500;
        position: absolute;
        bottom: 0;
        animation: wave2 linear 5s infinite alternate-reverse;
      }
      .waveLB {
        top: revert-layer;
        width: 200%;
        position: absolute;
        bottom: 0;
        animation: wave1 linear 5s infinite alternate-reverse;
      }
      .home {
        // position:absolute;
        // bottom:0;
        display: flex;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        // position:relative;
        // bottom:0;
        .link {
          color: whitesmoke;
          // margin-top:2vh;
          font-size: 2.5vh;
          text-decoration: none;
        }
      }
    }

    @keyframes wave1 {
      0% {
        transform: translateX(-40%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes wave2 {
      0% {
        transform: translateX(-25%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes wave3 {
      0% {
        transform: translateX(-16%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
@media (min-width: 768px) {
  .wrapper {
    .group1 {
      .grp1 {
        font-size: 4rem !important;
      }
      .dots {
        width: 1rem !important;
        height: 1rem !important;
      }
    }
    // .grp2 {
    //   font-size: 1rem !important;
    // }
  }

  .numbers {
    width: 40%;
  }
  .wave {
    padding-top: 2rem !important;
  }
  // .waveB{
  //     width: 100%;
  //     position:absolute;
  //     bottom: 0;
  // }
  // .waveLB{
  //   width: 100%;
  // }
}
