.wrapper {
  min-height: 100vh;
  background: black;
  width: 100%;
  overflow-y: hidden;
  z-index: -99;
}

.children {
  z-index: 999;
}

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 779px 1331px #ffbefd, 324px 42px #ffbefd, 303px 586px #ffbefd,
    1312px 276px #ffbefd, 451px 625px #ffbefd, 521px 1931px #ffbefd, 1087px 1871px #ffbefd,
    36px 1546px #ffbefd, 132px 934px #ffbefd, 1698px 901px #ffbefd, 1418px 664px #ffbefd,
    1448px 1157px #ffbefd, 1084px 232px #ffbefd, 347px 1776px #ffbefd,
    1722px 243px #ffbefd, 1629px 835px #ffbefd, 479px 969px #ffbefd, 1231px 960px #ffbefd,
    586px 384px #ffbefd, 164px 527px #ffbefd, 8px 646px #ffbefd, 1150px 1126px #ffbefd,
    665px 1357px #ffbefd, 1556px 1982px #ffbefd, 1260px 1961px #ffbefd,
    1675px 1741px #ffbefd, 1843px 1514px #ffbefd, 718px 1628px #ffbefd,
    242px 1343px #ffbefd, 1497px 1880px #ffbefd, 1364px 230px #ffbefd,
    1739px 1302px #ffbefd, 636px 959px #ffbefd, 304px 686px #ffbefd, 614px 751px #ffbefd,
    1935px 816px #ffbefd, 1428px 60px #ffbefd, 355px 335px #ffbefd, 1594px 158px #ffbefd,
    90px 60px #ffbefd, 1553px 162px #ffbefd, 1239px 1825px #ffbefd, 1945px 587px #ffbefd,
    749px 1785px #ffbefd, 1987px 1172px #ffbefd, 1301px 1237px #ffbefd,
    1039px 342px #ffbefd, 1585px 1481px #ffbefd, 995px 1048px #ffbefd, 524px 932px #ffbefd,
    214px 413px #ffbefd, 1701px 1300px #ffbefd, 1037px 1613px #ffbefd,
    1871px 996px #ffbefd, 1360px 1635px #ffbefd, 1110px 1313px #ffbefd,
    412px 1783px #ffbefd, 1949px 177px #ffbefd, 903px 1854px #ffbefd, 700px 1936px #ffbefd,
    378px 125px #ffbefd, 308px 834px #ffbefd, 1118px 962px #ffbefd, 1350px 1929px #ffbefd,
    781px 1811px #ffbefd, 561px 137px #ffbefd, 757px 1148px #ffbefd, 1670px 1979px #ffbefd,
    343px 739px #ffbefd, 945px 795px #ffbefd, 576px 1903px #ffbefd, 1078px 1436px #ffbefd,
    1583px 450px #ffbefd, 1366px 474px #ffbefd, 297px 1873px #ffbefd, 192px 162px #ffbefd,
    1624px 1633px #ffbefd, 59px 453px #ffbefd, 82px 1872px #ffbefd, 1933px 498px #ffbefd,
    1966px 1974px #ffbefd, 1975px 1688px #ffbefd, 779px 314px #ffbefd,
    1858px 1543px #ffbefd, 73px 1507px #ffbefd, 1693px 975px #ffbefd, 1683px 108px #ffbefd,
    1768px 1654px #ffbefd, 654px 14px #ffbefd, 494px 171px #ffbefd, 1689px 1895px #ffbefd,
    1660px 263px #ffbefd, 1031px 903px #ffbefd, 1203px 1393px #ffbefd,
    1333px 1421px #ffbefd, 1113px 41px #ffbefd, 1206px 1645px #ffbefd,
    1325px 1635px #ffbefd, 142px 388px #ffbefd, 572px 215px #ffbefd, 1535px 296px #ffbefd,
    1419px 407px #ffbefd, 1379px 1003px #ffbefd, 329px 469px #ffbefd,
    1791px 1652px #ffbefd, 935px 1802px #ffbefd, 1330px 1820px #ffbefd,
    421px 1933px #ffbefd, 828px 365px #ffbefd, 275px 316px #ffbefd, 707px 960px #ffbefd,
    1605px 1554px #ffbefd, 625px 58px #ffbefd, 717px 1697px #ffbefd, 1669px 246px #ffbefd,
    1925px 322px #ffbefd, 1154px 1803px #ffbefd, 1929px 295px #ffbefd,
    1248px 240px #ffbefd, 1045px 1755px #ffbefd, 166px 942px #ffbefd,
    1888px 1773px #ffbefd, 678px 1963px #ffbefd, 1370px 569px #ffbefd,
    1974px 1400px #ffbefd, 1786px 460px #ffbefd, 51px 307px #ffbefd, 784px 1400px #ffbefd,
    730px 1258px #ffbefd, 1712px 393px #ffbefd, 416px 170px #ffbefd, 1797px 1932px #ffbefd,
    572px 219px #ffbefd, 1557px 1856px #ffbefd, 218px 8px #ffbefd, 348px 1334px #ffbefd,
    469px 413px #ffbefd, 385px 1738px #ffbefd, 1357px 1818px #ffbefd, 240px 942px #ffbefd,
    248px 1847px #ffbefd, 1535px 806px #ffbefd, 236px 1514px #ffbefd,
    1429px 1556px #ffbefd, 73px 1633px #ffbefd, 1398px 1121px #ffbefd,
    671px 1301px #ffbefd, 1404px 1663px #ffbefd, 740px 1018px #ffbefd,
    1600px 377px #ffbefd, 785px 514px #ffbefd, 112px 1084px #ffbefd, 1915px 1887px #ffbefd,
    1463px 1848px #ffbefd, 687px 1115px #ffbefd, 1268px 1768px #ffbefd,
    1729px 1425px #ffbefd, 1284px 1022px #ffbefd, 801px 974px #ffbefd,
    1975px 1317px #ffbefd, 1354px 834px #ffbefd, 1446px 1484px #ffbefd,
    1283px 1786px #ffbefd, 11px 523px #ffbefd, 1842px 236px #ffbefd, 1355px 654px #ffbefd,
    429px 7px #ffbefd, 1033px 1128px #ffbefd, 157px 297px #ffbefd, 545px 635px #ffbefd,
    52px 1080px #ffbefd, 827px 1520px #ffbefd, 1121px 490px #ffbefd, 9px 309px #ffbefd,
    1744px 1586px #ffbefd, 1014px 417px #ffbefd, 1534px 524px #ffbefd, 958px 552px #ffbefd,
    1403px 1496px #ffbefd, 387px 703px #ffbefd, 1522px 548px #ffbefd, 1355px 282px #ffbefd,
    1532px 601px #ffbefd, 1838px 790px #ffbefd, 290px 259px #ffbefd, 295px 598px #ffbefd,
    1601px 539px #ffbefd, 1561px 1272px #ffbefd, 34px 1922px #ffbefd, 1024px 543px #ffbefd,
    467px 369px #ffbefd, 722px 333px #ffbefd, 1976px 1255px #ffbefd, 766px 983px #ffbefd,
    1582px 1285px #ffbefd, 12px 512px #ffbefd, 617px 1410px #ffbefd, 682px 577px #ffbefd,
    1334px 1438px #ffbefd, 439px 327px #ffbefd, 1617px 1661px #ffbefd, 673px 129px #ffbefd,
    794px 941px #ffbefd, 1386px 1902px #ffbefd, 37px 1353px #ffbefd, 1467px 1353px #ffbefd,
    416px 18px #ffbefd, 187px 344px #ffbefd, 200px 1898px #ffbefd, 1491px 1619px #ffbefd,
    811px 347px #ffbefd, 924px 1827px #ffbefd, 945px 217px #ffbefd, 1735px 1228px #ffbefd,
    379px 1890px #ffbefd, 79px 761px #ffbefd, 825px 1837px #ffbefd, 1980px 1558px #ffbefd,
    1308px 1573px #ffbefd, 1488px 1726px #ffbefd, 382px 1208px #ffbefd,
    522px 595px #ffbefd, 1277px 1898px #ffbefd, 354px 552px #ffbefd, 161px 1784px #ffbefd,
    614px 251px #ffbefd, 526px 1576px #ffbefd, 17px 212px #ffbefd, 179px 996px #ffbefd,
    467px 1208px #ffbefd, 1944px 1838px #ffbefd, 1140px 1093px #ffbefd,
    858px 1007px #ffbefd, 200px 1064px #ffbefd, 423px 1964px #ffbefd, 1945px 439px #ffbefd,
    1377px 689px #ffbefd, 1120px 1437px #ffbefd, 1876px 668px #ffbefd,
    907px 1324px #ffbefd, 343px 1976px #ffbefd, 1816px 1501px #ffbefd,
    1849px 177px #ffbefd, 647px 91px #ffbefd, 1984px 1012px #ffbefd, 1336px 1300px #ffbefd,
    128px 648px #ffbefd, 305px 1060px #ffbefd, 1324px 826px #ffbefd, 1263px 1314px #ffbefd,
    1801px 629px #ffbefd, 1614px 1555px #ffbefd, 1634px 90px #ffbefd, 1603px 452px #ffbefd,
    891px 1984px #ffbefd, 1556px 1906px #ffbefd, 121px 68px #ffbefd, 1676px 1714px #ffbefd,
    516px 936px #ffbefd, 1947px 1492px #ffbefd, 1455px 1519px #ffbefd, 45px 602px #ffbefd,
    205px 1039px #ffbefd, 793px 172px #ffbefd, 1562px 1739px #ffbefd, 1056px 110px #ffbefd,
    1512px 379px #ffbefd, 1795px 1621px #ffbefd, 1848px 607px #ffbefd,
    262px 1719px #ffbefd, 477px 991px #ffbefd, 483px 883px #ffbefd, 1239px 1197px #ffbefd,
    1496px 647px #ffbefd, 1649px 25px #ffbefd, 1491px 1946px #ffbefd, 119px 996px #ffbefd,
    179px 1472px #ffbefd, 1341px 808px #ffbefd, 1565px 1700px #ffbefd,
    407px 1544px #ffbefd, 1754px 357px #ffbefd, 1288px 981px #ffbefd, 902px 1997px #ffbefd,
    1755px 1668px #ffbefd, 186px 877px #ffbefd, 1202px 1882px #ffbefd,
    461px 1213px #ffbefd, 1400px 748px #ffbefd, 1969px 1899px #ffbefd, 809px 522px #ffbefd,
    514px 1219px #ffbefd, 374px 275px #ffbefd, 938px 1973px #ffbefd, 357px 552px #ffbefd,
    144px 1722px #ffbefd, 1572px 912px #ffbefd, 402px 1858px #ffbefd,
    1544px 1195px #ffbefd, 667px 1257px #ffbefd, 727px 1496px #ffbefd, 993px 232px #ffbefd,
    1772px 313px #ffbefd, 1040px 1590px #ffbefd, 1204px 1973px #ffbefd,
    1268px 79px #ffbefd, 1555px 1048px #ffbefd, 986px 1707px #ffbefd, 978px 1710px #ffbefd,
    713px 360px #ffbefd, 407px 863px #ffbefd, 461px 736px #ffbefd, 284px 1608px #ffbefd,
    103px 430px #ffbefd, 1283px 1319px #ffbefd, 977px 1186px #ffbefd,
    1966px 1516px #ffbefd, 1287px 1129px #ffbefd, 70px 1098px #ffbefd,
    1189px 889px #ffbefd, 1126px 1734px #ffbefd, 309px 1292px #ffbefd, 879px 764px #ffbefd,
    65px 473px #ffbefd, 1003px 1959px #ffbefd, 658px 791px #ffbefd, 402px 1576px #ffbefd,
    35px 622px #ffbefd, 529px 1589px #ffbefd, 164px 666px #ffbefd, 1876px 1290px #ffbefd,
    1541px 526px #ffbefd, 270px 1297px #ffbefd, 440px 865px #ffbefd, 1500px 802px #ffbefd,
    182px 1754px #ffbefd, 1264px 892px #ffbefd, 272px 1249px #ffbefd,
    1289px 1535px #ffbefd, 190px 1646px #ffbefd, 955px 242px #ffbefd,
    1456px 1597px #ffbefd, 1727px 1983px #ffbefd, 635px 801px #ffbefd, 226px 455px #ffbefd,
    1396px 1710px #ffbefd, 849px 1863px #ffbefd, 237px 1264px #ffbefd, 839px 140px #ffbefd,
    1122px 735px #ffbefd, 1280px 15px #ffbefd, 1318px 242px #ffbefd, 1819px 1148px #ffbefd,
    333px 1392px #ffbefd, 1949px 553px #ffbefd, 1878px 1332px #ffbefd, 467px 548px #ffbefd,
    1812px 1082px #ffbefd, 1067px 193px #ffbefd, 243px 156px #ffbefd, 483px 1616px #ffbefd,
    1714px 933px #ffbefd, 759px 1800px #ffbefd, 1822px 995px #ffbefd, 1877px 572px #ffbefd,
    581px 1084px #ffbefd, 107px 732px #ffbefd, 642px 1837px #ffbefd, 166px 1493px #ffbefd,
    1555px 198px #ffbefd, 819px 307px #ffbefd, 947px 345px #ffbefd, 827px 224px #ffbefd,
    927px 1394px #ffbefd, 540px 467px #ffbefd, 1093px 405px #ffbefd, 1140px 927px #ffbefd,
    130px 529px #ffbefd, 33px 1980px #ffbefd, 1147px 1663px #ffbefd, 1616px 1436px #ffbefd,
    528px 710px #ffbefd, 798px 1100px #ffbefd, 505px 1480px #ffbefd, 899px 641px #ffbefd,
    1909px 1949px #ffbefd, 1311px 964px #ffbefd, 979px 1301px #ffbefd,
    1393px 969px #ffbefd, 1793px 1886px #ffbefd, 292px 357px #ffbefd,
    1196px 1718px #ffbefd, 1290px 1994px #ffbefd, 537px 1973px #ffbefd,
    1181px 1674px #ffbefd, 1740px 1566px #ffbefd, 1307px 265px #ffbefd,
    922px 522px #ffbefd, 1892px 472px #ffbefd, 384px 1746px #ffbefd, 392px 1098px #ffbefd,
    647px 548px #ffbefd, 390px 1498px #ffbefd, 1246px 138px #ffbefd, 730px 876px #ffbefd,
    192px 1472px #ffbefd, 1790px 1789px #ffbefd, 928px 311px #ffbefd,
    1253px 1647px #ffbefd, 747px 1921px #ffbefd, 1561px 1025px #ffbefd,
    1533px 1292px #ffbefd, 1985px 195px #ffbefd, 728px 729px #ffbefd,
    1712px 1936px #ffbefd, 512px 1717px #ffbefd, 1528px 483px #ffbefd,
    313px 1642px #ffbefd, 281px 1849px #ffbefd, 1212px 799px #ffbefd, 435px 1191px #ffbefd,
    1422px 611px #ffbefd, 1718px 1964px #ffbefd, 411px 944px #ffbefd, 210px 636px #ffbefd,
    1502px 1295px #ffbefd, 1434px 349px #ffbefd, 769px 60px #ffbefd, 747px 1053px #ffbefd,
    789px 504px #ffbefd, 1436px 1264px #ffbefd, 1893px 1225px #ffbefd,
    1394px 1788px #ffbefd, 1108px 1317px #ffbefd, 1673px 1395px #ffbefd,
    854px 1010px #ffbefd, 1705px 80px #ffbefd, 1858px 148px #ffbefd, 1729px 344px #ffbefd,
    1388px 664px #ffbefd, 895px 406px #ffbefd, 1479px 157px #ffbefd, 1441px 1157px #ffbefd,
    552px 1900px #ffbefd, 516px 364px #ffbefd, 1647px 189px #ffbefd, 1427px 1071px #ffbefd,
    785px 729px #ffbefd, 1080px 1710px #ffbefd, 504px 204px #ffbefd, 1177px 1622px #ffbefd,
    657px 34px #ffbefd, 1296px 1099px #ffbefd, 248px 180px #ffbefd, 1212px 1568px #ffbefd,
    667px 1562px #ffbefd, 695px 841px #ffbefd, 1608px 1247px #ffbefd, 751px 882px #ffbefd,
    87px 167px #ffbefd, 607px 1368px #ffbefd, 1363px 1203px #ffbefd, 1836px 317px #ffbefd,
    1668px 1703px #ffbefd, 830px 1154px #ffbefd, 1721px 1398px #ffbefd,
    1601px 1280px #ffbefd, 976px 874px #ffbefd, 1743px 254px #ffbefd,
    1020px 1815px #ffbefd, 1670px 1766px #ffbefd, 1890px 735px #ffbefd,
    1379px 136px #ffbefd, 1864px 695px #ffbefd, 206px 965px #ffbefd, 1404px 1932px #ffbefd,
    1923px 1360px #ffbefd, 247px 682px #ffbefd, 519px 1708px #ffbefd, 645px 750px #ffbefd,
    1164px 1204px #ffbefd, 834px 323px #ffbefd, 172px 1350px #ffbefd, 213px 972px #ffbefd,
    1837px 190px #ffbefd, 285px 1806px #ffbefd, 1047px 1299px #ffbefd,
    1548px 825px #ffbefd, 1730px 324px #ffbefd, 1346px 1909px #ffbefd, 772px 270px #ffbefd,
    345px 1190px #ffbefd, 478px 1433px #ffbefd, 1479px 25px #ffbefd, 1994px 1830px #ffbefd,
    1744px 732px #ffbefd, 20px 1635px #ffbefd, 690px 1795px #ffbefd, 1594px 569px #ffbefd,
    579px 245px #ffbefd, 1398px 733px #ffbefd, 408px 1352px #ffbefd, 1774px 120px #ffbefd,
    1152px 1370px #ffbefd, 1698px 1810px #ffbefd, 710px 1450px #ffbefd,
    665px 286px #ffbefd, 493px 1720px #ffbefd, 786px 5px #ffbefd, 637px 1140px #ffbefd,
    764px 324px #ffbefd, 927px 310px #ffbefd, 938px 1424px #ffbefd, 1884px 744px #ffbefd,
    913px 462px #ffbefd, 1831px 1936px #ffbefd, 1527px 249px #ffbefd, 36px 1381px #ffbefd,
    1597px 581px #ffbefd, 1530px 355px #ffbefd, 949px 459px #ffbefd, 799px 828px #ffbefd,
    242px 1471px #ffbefd, 654px 797px #ffbefd, 796px 594px #ffbefd, 1365px 678px #ffbefd,
    752px 23px #ffbefd, 1630px 541px #ffbefd, 982px 72px #ffbefd, 1733px 1831px #ffbefd,
    21px 412px #ffbefd, 775px 998px #ffbefd, 335px 1945px #ffbefd, 264px 583px #ffbefd,
    158px 1311px #ffbefd, 528px 164px #ffbefd, 1978px 574px #ffbefd, 717px 1203px #ffbefd,
    734px 1591px #ffbefd, 1555px 820px #ffbefd, 16px 1943px #ffbefd, 1625px 1177px #ffbefd,
    1236px 690px #ffbefd, 1585px 1590px #ffbefd, 1737px 1728px #ffbefd,
    721px 698px #ffbefd, 1804px 1186px #ffbefd, 166px 980px #ffbefd, 1850px 230px #ffbefd,
    330px 1712px #ffbefd, 95px 797px #ffbefd, 1948px 1078px #ffbefd, 469px 939px #ffbefd,
    1269px 1899px #ffbefd, 955px 1220px #ffbefd, 1137px 1075px #ffbefd,
    312px 1293px #ffbefd, 986px 1762px #ffbefd, 1103px 1238px #ffbefd,
    428px 1993px #ffbefd, 355px 570px #ffbefd, 977px 1836px #ffbefd, 1395px 1092px #ffbefd,
    276px 913px #ffbefd, 1743px 656px #ffbefd, 773px 502px #ffbefd, 1686px 1322px #ffbefd,
    1516px 1945px #ffbefd, 1334px 501px #ffbefd, 266px 156px #ffbefd, 455px 655px #ffbefd,
    798px 72px #ffbefd, 1059px 1259px #ffbefd, 1402px 1687px #ffbefd, 236px 1329px #ffbefd,
    1455px 786px #ffbefd, 146px 1228px #ffbefd, 1851px 823px #ffbefd, 1062px 100px #ffbefd,
    1220px 953px #ffbefd, 20px 1826px #ffbefd, 36px 1063px #ffbefd, 1525px 338px #ffbefd,
    790px 1521px #ffbefd, 741px 1099px #ffbefd, 288px 1489px #ffbefd, 700px 1060px #ffbefd,
    390px 1071px #ffbefd, 411px 1036px #ffbefd, 1853px 1072px #ffbefd,
    1446px 1085px #ffbefd, 1164px 874px #ffbefd, 924px 925px #ffbefd, 291px 271px #ffbefd,
    1257px 1964px #ffbefd, 1580px 1352px #ffbefd, 1507px 1216px #ffbefd,
    211px 956px #ffbefd, 985px 1195px #ffbefd, 975px 1640px #ffbefd, 518px 101px #ffbefd,
    663px 1395px #ffbefd, 914px 532px #ffbefd, 145px 1320px #ffbefd, 69px 1397px #ffbefd,
    982px 523px #ffbefd, 257px 725px #ffbefd, 1599px 831px #ffbefd, 1636px 1513px #ffbefd,
    1250px 1158px #ffbefd, 1132px 604px #ffbefd, 183px 102px #ffbefd, 1057px 318px #ffbefd,
    1247px 1835px #ffbefd, 1983px 1110px #ffbefd, 1077px 1455px #ffbefd,
    921px 1770px #ffbefd, 806px 1350px #ffbefd, 1938px 1992px #ffbefd,
    855px 1260px #ffbefd, 902px 1345px #ffbefd, 658px 1908px #ffbefd, 1845px 679px #ffbefd,
    712px 1482px #ffbefd, 595px 950px #ffbefd, 1784px 1992px #ffbefd,
    1847px 1785px #ffbefd, 691px 1004px #ffbefd, 175px 1179px #ffbefd,
    1666px 1911px #ffbefd, 41px 61px #ffbefd, 971px 1080px #ffbefd, 1830px 1450px #ffbefd,
    1351px 1518px #ffbefd, 1257px 99px #ffbefd, 1395px 1498px #ffbefd,
    1117px 252px #ffbefd, 1779px 597px #ffbefd, 1346px 729px #ffbefd,
    1108px 1144px #ffbefd, 402px 691px #ffbefd, 72px 496px #ffbefd, 1673px 1604px #ffbefd,
    1497px 974px #ffbefd, 1865px 1664px #ffbefd, 88px 806px #ffbefd, 918px 77px #ffbefd,
    244px 1118px #ffbefd, 256px 1820px #ffbefd, 1851px 1840px #ffbefd,
    605px 1851px #ffbefd, 634px 383px #ffbefd, 865px 37px #ffbefd, 943px 1024px #ffbefd,
    1951px 177px #ffbefd, 1097px 523px #ffbefd, 985px 1700px #ffbefd, 1243px 122px #ffbefd,
    768px 1070px #ffbefd, 468px 194px #ffbefd, 320px 1867px #ffbefd, 1850px 185px #ffbefd,
    380px 1616px #ffbefd, 468px 1294px #ffbefd, 1122px 1743px #ffbefd, 884px 299px #ffbefd,
    1300px 1917px #ffbefd, 1860px 396px #ffbefd, 1270px 990px #ffbefd, 529px 733px #ffbefd,
    1975px 1347px #ffbefd, 1885px 685px #ffbefd, 226px 506px #ffbefd, 651px 878px #ffbefd,
    1323px 680px #ffbefd, 1284px 680px #ffbefd, 238px 1967px #ffbefd, 911px 174px #ffbefd,
    1111px 521px #ffbefd, 1150px 85px #ffbefd, 794px 502px #ffbefd, 484px 1856px #ffbefd,
    1809px 368px #ffbefd, 112px 953px #ffbefd, 590px 1009px #ffbefd, 1655px 311px #ffbefd,
    100px 1026px #ffbefd, 1803px 352px #ffbefd, 865px 306px #ffbefd, 1077px 1019px #ffbefd,
    1335px 872px #ffbefd, 1647px 1298px #ffbefd, 1233px 1387px #ffbefd,
    698px 1036px #ffbefd, 659px 1860px #ffbefd, 388px 1412px #ffbefd, 1212px 458px #ffbefd,
    755px 1468px #ffbefd, 696px 1654px #ffbefd, 1144px 60px #ffbefd;
}

.stars1::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  top: 2000px;
  background: transparent;
  box-shadow: 779px 1331px #ffbefd, 324px 42px #ffbefd, 303px 586px #ffbefd,
    1312px 276px #ffbefd, 451px 625px #ffbefd, 521px 1931px #ffbefd, 1087px 1871px #ffbefd,
    36px 1546px #ffbefd, 132px 934px #ffbefd, 1698px 901px #ffbefd, 1418px 664px #ffbefd,
    1448px 1157px #ffbefd, 1084px 232px #ffbefd, 347px 1776px #ffbefd,
    1722px 243px #ffbefd, 1629px 835px #ffbefd, 479px 969px #ffbefd, 1231px 960px #ffbefd,
    586px 384px #ffbefd, 164px 527px #ffbefd, 8px 646px #ffbefd, 1150px 1126px #ffbefd,
    665px 1357px #ffbefd, 1556px 1982px #ffbefd, 1260px 1961px #ffbefd,
    1675px 1741px #ffbefd, 1843px 1514px #ffbefd, 718px 1628px #ffbefd,
    242px 1343px #ffbefd, 1497px 1880px #ffbefd, 1364px 230px #ffbefd,
    1739px 1302px #ffbefd, 636px 959px #ffbefd, 304px 686px #ffbefd, 614px 751px #ffbefd,
    1935px 816px #ffbefd, 1428px 60px #ffbefd, 355px 335px #ffbefd, 1594px 158px #ffbefd,
    90px 60px #ffbefd, 1553px 162px #ffbefd, 1239px 1825px #ffbefd, 1945px 587px #ffbefd,
    749px 1785px #ffbefd, 1987px 1172px #ffbefd, 1301px 1237px #ffbefd,
    1039px 342px #ffbefd, 1585px 1481px #ffbefd, 995px 1048px #ffbefd, 524px 932px #ffbefd,
    214px 413px #ffbefd, 1701px 1300px #ffbefd, 1037px 1613px #ffbefd,
    1871px 996px #ffbefd, 1360px 1635px #ffbefd, 1110px 1313px #ffbefd,
    412px 1783px #ffbefd, 1949px 177px #ffbefd, 903px 1854px #ffbefd, 700px 1936px #ffbefd,
    378px 125px #ffbefd, 308px 834px #ffbefd, 1118px 962px #ffbefd, 1350px 1929px #ffbefd,
    781px 1811px #ffbefd, 561px 137px #ffbefd, 757px 1148px #ffbefd, 1670px 1979px #ffbefd,
    343px 739px #ffbefd, 945px 795px #ffbefd, 576px 1903px #ffbefd, 1078px 1436px #ffbefd,
    1583px 450px #ffbefd, 1366px 474px #ffbefd, 297px 1873px #ffbefd, 192px 162px #ffbefd,
    1624px 1633px #ffbefd, 59px 453px #ffbefd, 82px 1872px #ffbefd, 1933px 498px #ffbefd,
    1966px 1974px #ffbefd, 1975px 1688px #ffbefd, 779px 314px #ffbefd,
    1858px 1543px #ffbefd, 73px 1507px #ffbefd, 1693px 975px #ffbefd, 1683px 108px #ffbefd,
    1768px 1654px #ffbefd, 654px 14px #ffbefd, 494px 171px #ffbefd, 1689px 1895px #ffbefd,
    1660px 263px #ffbefd, 1031px 903px #ffbefd, 1203px 1393px #ffbefd,
    1333px 1421px #ffbefd, 1113px 41px #ffbefd, 1206px 1645px #ffbefd,
    1325px 1635px #ffbefd, 142px 388px #ffbefd, 572px 215px #ffbefd, 1535px 296px #ffbefd,
    1419px 407px #ffbefd, 1379px 1003px #ffbefd, 329px 469px #ffbefd,
    1791px 1652px #ffbefd, 935px 1802px #ffbefd, 1330px 1820px #ffbefd,
    421px 1933px #ffbefd, 828px 365px #ffbefd, 275px 316px #ffbefd, 707px 960px #ffbefd,
    1605px 1554px #ffbefd, 625px 58px #ffbefd, 717px 1697px #ffbefd, 1669px 246px #ffbefd,
    1925px 322px #ffbefd, 1154px 1803px #ffbefd, 1929px 295px #ffbefd,
    1248px 240px #ffbefd, 1045px 1755px #ffbefd, 166px 942px #ffbefd,
    1888px 1773px #ffbefd, 678px 1963px #ffbefd, 1370px 569px #ffbefd,
    1974px 1400px #ffbefd, 1786px 460px #ffbefd, 51px 307px #ffbefd, 784px 1400px #ffbefd,
    730px 1258px #ffbefd, 1712px 393px #ffbefd, 416px 170px #ffbefd, 1797px 1932px #ffbefd,
    572px 219px #ffbefd, 1557px 1856px #ffbefd, 218px 8px #ffbefd, 348px 1334px #ffbefd,
    469px 413px #ffbefd, 385px 1738px #ffbefd, 1357px 1818px #ffbefd, 240px 942px #ffbefd,
    248px 1847px #ffbefd, 1535px 806px #ffbefd, 236px 1514px #ffbefd,
    1429px 1556px #ffbefd, 73px 1633px #ffbefd, 1398px 1121px #ffbefd,
    671px 1301px #ffbefd, 1404px 1663px #ffbefd, 740px 1018px #ffbefd,
    1600px 377px #ffbefd, 785px 514px #ffbefd, 112px 1084px #ffbefd, 1915px 1887px #ffbefd,
    1463px 1848px #ffbefd, 687px 1115px #ffbefd, 1268px 1768px #ffbefd,
    1729px 1425px #ffbefd, 1284px 1022px #ffbefd, 801px 974px #ffbefd,
    1975px 1317px #ffbefd, 1354px 834px #ffbefd, 1446px 1484px #ffbefd,
    1283px 1786px #ffbefd, 11px 523px #ffbefd, 1842px 236px #ffbefd, 1355px 654px #ffbefd,
    429px 7px #ffbefd, 1033px 1128px #ffbefd, 157px 297px #ffbefd, 545px 635px #ffbefd,
    52px 1080px #ffbefd, 827px 1520px #ffbefd, 1121px 490px #ffbefd, 9px 309px #ffbefd,
    1744px 1586px #ffbefd, 1014px 417px #ffbefd, 1534px 524px #ffbefd, 958px 552px #ffbefd,
    1403px 1496px #ffbefd, 387px 703px #ffbefd, 1522px 548px #ffbefd, 1355px 282px #ffbefd,
    1532px 601px #ffbefd, 1838px 790px #ffbefd, 290px 259px #ffbefd, 295px 598px #ffbefd,
    1601px 539px #ffbefd, 1561px 1272px #ffbefd, 34px 1922px #ffbefd, 1024px 543px #ffbefd,
    467px 369px #ffbefd, 722px 333px #ffbefd, 1976px 1255px #ffbefd, 766px 983px #ffbefd,
    1582px 1285px #ffbefd, 12px 512px #ffbefd, 617px 1410px #ffbefd, 682px 577px #ffbefd,
    1334px 1438px #ffbefd, 439px 327px #ffbefd, 1617px 1661px #ffbefd, 673px 129px #ffbefd,
    794px 941px #ffbefd, 1386px 1902px #ffbefd, 37px 1353px #ffbefd, 1467px 1353px #ffbefd,
    416px 18px #ffbefd, 187px 344px #ffbefd, 200px 1898px #ffbefd, 1491px 1619px #ffbefd,
    811px 347px #ffbefd, 924px 1827px #ffbefd, 945px 217px #ffbefd, 1735px 1228px #ffbefd,
    379px 1890px #ffbefd, 79px 761px #ffbefd, 825px 1837px #ffbefd, 1980px 1558px #ffbefd,
    1308px 1573px #ffbefd, 1488px 1726px #ffbefd, 382px 1208px #ffbefd,
    522px 595px #ffbefd, 1277px 1898px #ffbefd, 354px 552px #ffbefd, 161px 1784px #ffbefd,
    614px 251px #ffbefd, 526px 1576px #ffbefd, 17px 212px #ffbefd, 179px 996px #ffbefd,
    467px 1208px #ffbefd, 1944px 1838px #ffbefd, 1140px 1093px #ffbefd,
    858px 1007px #ffbefd, 200px 1064px #ffbefd, 423px 1964px #ffbefd, 1945px 439px #ffbefd,
    1377px 689px #ffbefd, 1120px 1437px #ffbefd, 1876px 668px #ffbefd,
    907px 1324px #ffbefd, 343px 1976px #ffbefd, 1816px 1501px #ffbefd,
    1849px 177px #ffbefd, 647px 91px #ffbefd, 1984px 1012px #ffbefd, 1336px 1300px #ffbefd,
    128px 648px #ffbefd, 305px 1060px #ffbefd, 1324px 826px #ffbefd, 1263px 1314px #ffbefd,
    1801px 629px #ffbefd, 1614px 1555px #ffbefd, 1634px 90px #ffbefd, 1603px 452px #ffbefd,
    891px 1984px #ffbefd, 1556px 1906px #ffbefd, 121px 68px #ffbefd, 1676px 1714px #ffbefd,
    516px 936px #ffbefd, 1947px 1492px #ffbefd, 1455px 1519px #ffbefd, 45px 602px #ffbefd,
    205px 1039px #ffbefd, 793px 172px #ffbefd, 1562px 1739px #ffbefd, 1056px 110px #ffbefd,
    1512px 379px #ffbefd, 1795px 1621px #ffbefd, 1848px 607px #ffbefd,
    262px 1719px #ffbefd, 477px 991px #ffbefd, 483px 883px #ffbefd, 1239px 1197px #ffbefd,
    1496px 647px #ffbefd, 1649px 25px #ffbefd, 1491px 1946px #ffbefd, 119px 996px #ffbefd,
    179px 1472px #ffbefd, 1341px 808px #ffbefd, 1565px 1700px #ffbefd,
    407px 1544px #ffbefd, 1754px 357px #ffbefd, 1288px 981px #ffbefd, 902px 1997px #ffbefd,
    1755px 1668px #ffbefd, 186px 877px #ffbefd, 1202px 1882px #ffbefd,
    461px 1213px #ffbefd, 1400px 748px #ffbefd, 1969px 1899px #ffbefd, 809px 522px #ffbefd,
    514px 1219px #ffbefd, 374px 275px #ffbefd, 938px 1973px #ffbefd, 357px 552px #ffbefd,
    144px 1722px #ffbefd, 1572px 912px #ffbefd, 402px 1858px #ffbefd,
    1544px 1195px #ffbefd, 667px 1257px #ffbefd, 727px 1496px #ffbefd, 993px 232px #ffbefd,
    1772px 313px #ffbefd, 1040px 1590px #ffbefd, 1204px 1973px #ffbefd,
    1268px 79px #ffbefd, 1555px 1048px #ffbefd, 986px 1707px #ffbefd, 978px 1710px #ffbefd,
    713px 360px #ffbefd, 407px 863px #ffbefd, 461px 736px #ffbefd, 284px 1608px #ffbefd,
    103px 430px #ffbefd, 1283px 1319px #ffbefd, 977px 1186px #ffbefd,
    1966px 1516px #ffbefd, 1287px 1129px #ffbefd, 70px 1098px #ffbefd,
    1189px 889px #ffbefd, 1126px 1734px #ffbefd, 309px 1292px #ffbefd, 879px 764px #ffbefd,
    65px 473px #ffbefd, 1003px 1959px #ffbefd, 658px 791px #ffbefd, 402px 1576px #ffbefd,
    35px 622px #ffbefd, 529px 1589px #ffbefd, 164px 666px #ffbefd, 1876px 1290px #ffbefd,
    1541px 526px #ffbefd, 270px 1297px #ffbefd, 440px 865px #ffbefd, 1500px 802px #ffbefd,
    182px 1754px #ffbefd, 1264px 892px #ffbefd, 272px 1249px #ffbefd,
    1289px 1535px #ffbefd, 190px 1646px #ffbefd, 955px 242px #ffbefd,
    1456px 1597px #ffbefd, 1727px 1983px #ffbefd, 635px 801px #ffbefd, 226px 455px #ffbefd,
    1396px 1710px #ffbefd, 849px 1863px #ffbefd, 237px 1264px #ffbefd, 839px 140px #ffbefd,
    1122px 735px #ffbefd, 1280px 15px #ffbefd, 1318px 242px #ffbefd, 1819px 1148px #ffbefd,
    333px 1392px #ffbefd, 1949px 553px #ffbefd, 1878px 1332px #ffbefd, 467px 548px #ffbefd,
    1812px 1082px #ffbefd, 1067px 193px #ffbefd, 243px 156px #ffbefd, 483px 1616px #ffbefd,
    1714px 933px #ffbefd, 759px 1800px #ffbefd, 1822px 995px #ffbefd, 1877px 572px #ffbefd,
    581px 1084px #ffbefd, 107px 732px #ffbefd, 642px 1837px #ffbefd, 166px 1493px #ffbefd,
    1555px 198px #ffbefd, 819px 307px #ffbefd, 947px 345px #ffbefd, 827px 224px #ffbefd,
    927px 1394px #ffbefd, 540px 467px #ffbefd, 1093px 405px #ffbefd, 1140px 927px #ffbefd,
    130px 529px #ffbefd, 33px 1980px #ffbefd, 1147px 1663px #ffbefd, 1616px 1436px #ffbefd,
    528px 710px #ffbefd, 798px 1100px #ffbefd, 505px 1480px #ffbefd, 899px 641px #ffbefd,
    1909px 1949px #ffbefd, 1311px 964px #ffbefd, 979px 1301px #ffbefd,
    1393px 969px #ffbefd, 1793px 1886px #ffbefd, 292px 357px #ffbefd,
    1196px 1718px #ffbefd, 1290px 1994px #ffbefd, 537px 1973px #ffbefd,
    1181px 1674px #ffbefd, 1740px 1566px #ffbefd, 1307px 265px #ffbefd,
    922px 522px #ffbefd, 1892px 472px #ffbefd, 384px 1746px #ffbefd, 392px 1098px #ffbefd,
    647px 548px #ffbefd, 390px 1498px #ffbefd, 1246px 138px #ffbefd, 730px 876px #ffbefd,
    192px 1472px #ffbefd, 1790px 1789px #ffbefd, 928px 311px #ffbefd,
    1253px 1647px #ffbefd, 747px 1921px #ffbefd, 1561px 1025px #ffbefd,
    1533px 1292px #ffbefd, 1985px 195px #ffbefd, 728px 729px #ffbefd,
    1712px 1936px #ffbefd, 512px 1717px #ffbefd, 1528px 483px #ffbefd,
    313px 1642px #ffbefd, 281px 1849px #ffbefd, 1212px 799px #ffbefd, 435px 1191px #ffbefd,
    1422px 611px #ffbefd, 1718px 1964px #ffbefd, 411px 944px #ffbefd, 210px 636px #ffbefd,
    1502px 1295px #ffbefd, 1434px 349px #ffbefd, 769px 60px #ffbefd, 747px 1053px #ffbefd,
    789px 504px #ffbefd, 1436px 1264px #ffbefd, 1893px 1225px #ffbefd,
    1394px 1788px #ffbefd, 1108px 1317px #ffbefd, 1673px 1395px #ffbefd,
    854px 1010px #ffbefd, 1705px 80px #ffbefd, 1858px 148px #ffbefd, 1729px 344px #ffbefd,
    1388px 664px #ffbefd, 895px 406px #ffbefd, 1479px 157px #ffbefd, 1441px 1157px #ffbefd,
    552px 1900px #ffbefd, 516px 364px #ffbefd, 1647px 189px #ffbefd, 1427px 1071px #ffbefd,
    785px 729px #ffbefd, 1080px 1710px #ffbefd, 504px 204px #ffbefd, 1177px 1622px #ffbefd,
    657px 34px #ffbefd, 1296px 1099px #ffbefd, 248px 180px #ffbefd, 1212px 1568px #ffbefd,
    667px 1562px #ffbefd, 695px 841px #ffbefd, 1608px 1247px #ffbefd, 751px 882px #ffbefd,
    87px 167px #ffbefd, 607px 1368px #ffbefd, 1363px 1203px #ffbefd, 1836px 317px #ffbefd,
    1668px 1703px #ffbefd, 830px 1154px #ffbefd, 1721px 1398px #ffbefd,
    1601px 1280px #ffbefd, 976px 874px #ffbefd, 1743px 254px #ffbefd,
    1020px 1815px #ffbefd, 1670px 1766px #ffbefd, 1890px 735px #ffbefd,
    1379px 136px #ffbefd, 1864px 695px #ffbefd, 206px 965px #ffbefd, 1404px 1932px #ffbefd,
    1923px 1360px #ffbefd, 247px 682px #ffbefd, 519px 1708px #ffbefd, 645px 750px #ffbefd,
    1164px 1204px #ffbefd, 834px 323px #ffbefd, 172px 1350px #ffbefd, 213px 972px #ffbefd,
    1837px 190px #ffbefd, 285px 1806px #ffbefd, 1047px 1299px #ffbefd,
    1548px 825px #ffbefd, 1730px 324px #ffbefd, 1346px 1909px #ffbefd, 772px 270px #ffbefd,
    345px 1190px #ffbefd, 478px 1433px #ffbefd, 1479px 25px #ffbefd, 1994px 1830px #ffbefd,
    1744px 732px #ffbefd, 20px 1635px #ffbefd, 690px 1795px #ffbefd, 1594px 569px #ffbefd,
    579px 245px #ffbefd, 1398px 733px #ffbefd, 408px 1352px #ffbefd, 1774px 120px #ffbefd,
    1152px 1370px #ffbefd, 1698px 1810px #ffbefd, 710px 1450px #ffbefd,
    665px 286px #ffbefd, 493px 1720px #ffbefd, 786px 5px #ffbefd, 637px 1140px #ffbefd,
    764px 324px #ffbefd, 927px 310px #ffbefd, 938px 1424px #ffbefd, 1884px 744px #ffbefd,
    913px 462px #ffbefd, 1831px 1936px #ffbefd, 1527px 249px #ffbefd, 36px 1381px #ffbefd,
    1597px 581px #ffbefd, 1530px 355px #ffbefd, 949px 459px #ffbefd, 799px 828px #ffbefd,
    242px 1471px #ffbefd, 654px 797px #ffbefd, 796px 594px #ffbefd, 1365px 678px #ffbefd,
    752px 23px #ffbefd, 1630px 541px #ffbefd, 982px 72px #ffbefd, 1733px 1831px #ffbefd,
    21px 412px #ffbefd, 775px 998px #ffbefd, 335px 1945px #ffbefd, 264px 583px #ffbefd,
    158px 1311px #ffbefd, 528px 164px #ffbefd, 1978px 574px #ffbefd, 717px 1203px #ffbefd,
    734px 1591px #ffbefd, 1555px 820px #ffbefd, 16px 1943px #ffbefd, 1625px 1177px #ffbefd,
    1236px 690px #ffbefd, 1585px 1590px #ffbefd, 1737px 1728px #ffbefd,
    721px 698px #ffbefd, 1804px 1186px #ffbefd, 166px 980px #ffbefd, 1850px 230px #ffbefd,
    330px 1712px #ffbefd, 95px 797px #ffbefd, 1948px 1078px #ffbefd, 469px 939px #ffbefd,
    1269px 1899px #ffbefd, 955px 1220px #ffbefd, 1137px 1075px #ffbefd,
    312px 1293px #ffbefd, 986px 1762px #ffbefd, 1103px 1238px #ffbefd,
    428px 1993px #ffbefd, 355px 570px #ffbefd, 977px 1836px #ffbefd, 1395px 1092px #ffbefd,
    276px 913px #ffbefd, 1743px 656px #ffbefd, 773px 502px #ffbefd, 1686px 1322px #ffbefd,
    1516px 1945px #ffbefd, 1334px 501px #ffbefd, 266px 156px #ffbefd, 455px 655px #ffbefd,
    798px 72px #ffbefd, 1059px 1259px #ffbefd, 1402px 1687px #ffbefd, 236px 1329px #ffbefd,
    1455px 786px #ffbefd, 146px 1228px #ffbefd, 1851px 823px #ffbefd, 1062px 100px #ffbefd,
    1220px 953px #ffbefd, 20px 1826px #ffbefd, 36px 1063px #ffbefd, 1525px 338px #ffbefd,
    790px 1521px #ffbefd, 741px 1099px #ffbefd, 288px 1489px #ffbefd, 700px 1060px #ffbefd,
    390px 1071px #ffbefd, 411px 1036px #ffbefd, 1853px 1072px #ffbefd,
    1446px 1085px #ffbefd, 1164px 874px #ffbefd, 924px 925px #ffbefd, 291px 271px #ffbefd,
    1257px 1964px #ffbefd, 1580px 1352px #ffbefd, 1507px 1216px #ffbefd,
    211px 956px #ffbefd, 985px 1195px #ffbefd, 975px 1640px #ffbefd, 518px 101px #ffbefd,
    663px 1395px #ffbefd, 914px 532px #ffbefd, 145px 1320px #ffbefd, 69px 1397px #ffbefd,
    982px 523px #ffbefd, 257px 725px #ffbefd, 1599px 831px #ffbefd, 1636px 1513px #ffbefd,
    1250px 1158px #ffbefd, 1132px 604px #ffbefd, 183px 102px #ffbefd, 1057px 318px #ffbefd,
    1247px 1835px #ffbefd, 1983px 1110px #ffbefd, 1077px 1455px #ffbefd,
    921px 1770px #ffbefd, 806px 1350px #ffbefd, 1938px 1992px #ffbefd,
    855px 1260px #ffbefd, 902px 1345px #ffbefd, 658px 1908px #ffbefd, 1845px 679px #ffbefd,
    712px 1482px #ffbefd, 595px 950px #ffbefd, 1784px 1992px #ffbefd,
    1847px 1785px #ffbefd, 691px 1004px #ffbefd, 175px 1179px #ffbefd,
    1666px 1911px #ffbefd, 41px 61px #ffbefd, 971px 1080px #ffbefd, 1830px 1450px #ffbefd,
    1351px 1518px #ffbefd, 1257px 99px #ffbefd, 1395px 1498px #ffbefd,
    1117px 252px #ffbefd, 1779px 597px #ffbefd, 1346px 729px #ffbefd,
    1108px 1144px #ffbefd, 402px 691px #ffbefd, 72px 496px #ffbefd, 1673px 1604px #ffbefd,
    1497px 974px #ffbefd, 1865px 1664px #ffbefd, 88px 806px #ffbefd, 918px 77px #ffbefd,
    244px 1118px #ffbefd, 256px 1820px #ffbefd, 1851px 1840px #ffbefd,
    605px 1851px #ffbefd, 634px 383px #ffbefd, 865px 37px #ffbefd, 943px 1024px #ffbefd,
    1951px 177px #ffbefd, 1097px 523px #ffbefd, 985px 1700px #ffbefd, 1243px 122px #ffbefd,
    768px 1070px #ffbefd, 468px 194px #ffbefd, 320px 1867px #ffbefd, 1850px 185px #ffbefd,
    380px 1616px #ffbefd, 468px 1294px #ffbefd, 1122px 1743px #ffbefd, 884px 299px #ffbefd,
    1300px 1917px #ffbefd, 1860px 396px #ffbefd, 1270px 990px #ffbefd, 529px 733px #ffbefd,
    1975px 1347px #ffbefd, 1885px 685px #ffbefd, 226px 506px #ffbefd, 651px 878px #ffbefd,
    1323px 680px #ffbefd, 1284px 680px #ffbefd, 238px 1967px #ffbefd, 911px 174px #ffbefd,
    1111px 521px #ffbefd, 1150px 85px #ffbefd, 794px 502px #ffbefd, 484px 1856px #ffbefd,
    1809px 368px #ffbefd, 112px 953px #ffbefd, 590px 1009px #ffbefd, 1655px 311px #ffbefd,
    100px 1026px #ffbefd, 1803px 352px #ffbefd, 865px 306px #ffbefd, 1077px 1019px #ffbefd,
    1335px 872px #ffbefd, 1647px 1298px #ffbefd, 1233px 1387px #ffbefd,
    698px 1036px #ffbefd, 659px 1860px #ffbefd, 388px 1412px #ffbefd, 1212px 458px #ffbefd,
    755px 1468px #ffbefd, 696px 1654px #ffbefd, 1144px 60px #ffbefd;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 1448px 320px #ffbefd, 1775px 1663px #ffbefd, 332px 1364px #ffbefd,
    878px 340px #ffbefd, 569px 1832px #ffbefd, 1422px 1684px #ffbefd,
    1946px 1907px #ffbefd, 121px 979px #ffbefd, 1044px 1069px #ffbefd, 463px 381px #ffbefd,
    423px 112px #ffbefd, 523px 1179px #ffbefd, 779px 654px #ffbefd, 1398px 694px #ffbefd,
    1085px 1464px #ffbefd, 1599px 1869px #ffbefd, 801px 1882px #ffbefd,
    779px 1231px #ffbefd, 552px 932px #ffbefd, 1057px 1196px #ffbefd, 282px 1280px #ffbefd,
    496px 1986px #ffbefd, 1833px 1120px #ffbefd, 1802px 1293px #ffbefd, 6px 1696px #ffbefd,
    412px 1902px #ffbefd, 605px 438px #ffbefd, 24px 1212px #ffbefd, 234px 1320px #ffbefd,
    544px 344px #ffbefd, 1107px 170px #ffbefd, 1603px 196px #ffbefd, 905px 648px #ffbefd,
    68px 1458px #ffbefd, 649px 1969px #ffbefd, 744px 675px #ffbefd, 1127px 478px #ffbefd,
    714px 1814px #ffbefd, 1486px 526px #ffbefd, 270px 1636px #ffbefd, 1931px 149px #ffbefd,
    1807px 378px #ffbefd, 8px 390px #ffbefd, 1415px 699px #ffbefd, 1473px 1211px #ffbefd,
    1590px 141px #ffbefd, 270px 1705px #ffbefd, 69px 1423px #ffbefd, 1108px 1053px #ffbefd,
    1946px 128px #ffbefd, 371px 371px #ffbefd, 1490px 220px #ffbefd, 357px 1885px #ffbefd,
    363px 363px #ffbefd, 1896px 1256px #ffbefd, 1979px 1050px #ffbefd,
    947px 1342px #ffbefd, 1754px 242px #ffbefd, 514px 974px #ffbefd, 65px 1477px #ffbefd,
    1840px 547px #ffbefd, 950px 695px #ffbefd, 459px 1150px #ffbefd, 1124px 1502px #ffbefd,
    481px 940px #ffbefd, 680px 839px #ffbefd, 797px 1169px #ffbefd, 1977px 1491px #ffbefd,
    734px 1724px #ffbefd, 210px 298px #ffbefd, 816px 628px #ffbefd, 686px 770px #ffbefd,
    1721px 267px #ffbefd, 1663px 511px #ffbefd, 1481px 1141px #ffbefd, 582px 248px #ffbefd,
    1308px 953px #ffbefd, 628px 657px #ffbefd, 897px 1535px #ffbefd, 270px 931px #ffbefd,
    791px 467px #ffbefd, 1336px 1732px #ffbefd, 1013px 1653px #ffbefd,
    1911px 956px #ffbefd, 587px 816px #ffbefd, 83px 456px #ffbefd, 930px 1478px #ffbefd,
    1587px 1694px #ffbefd, 614px 1200px #ffbefd, 302px 1782px #ffbefd,
    1711px 1432px #ffbefd, 443px 904px #ffbefd, 1666px 714px #ffbefd,
    1588px 1167px #ffbefd, 273px 1075px #ffbefd, 1679px 461px #ffbefd, 721px 664px #ffbefd,
    1202px 10px #ffbefd, 166px 1126px #ffbefd, 331px 1628px #ffbefd, 430px 1565px #ffbefd,
    1585px 509px #ffbefd, 640px 38px #ffbefd, 822px 837px #ffbefd, 1760px 1664px #ffbefd,
    1122px 1458px #ffbefd, 398px 131px #ffbefd, 689px 285px #ffbefd, 460px 652px #ffbefd,
    1627px 365px #ffbefd, 348px 1648px #ffbefd, 819px 1946px #ffbefd, 981px 1917px #ffbefd,
    323px 76px #ffbefd, 979px 684px #ffbefd, 887px 536px #ffbefd, 1348px 1596px #ffbefd,
    1055px 666px #ffbefd, 1402px 1797px #ffbefd, 1300px 1055px #ffbefd,
    937px 238px #ffbefd, 1474px 1815px #ffbefd, 1144px 1710px #ffbefd,
    1629px 1087px #ffbefd, 911px 919px #ffbefd, 771px 819px #ffbefd, 403px 720px #ffbefd,
    163px 736px #ffbefd, 1062px 238px #ffbefd, 1774px 818px #ffbefd, 1874px 1178px #ffbefd,
    1177px 699px #ffbefd, 1244px 1244px #ffbefd, 1371px 58px #ffbefd, 564px 1515px #ffbefd,
    1824px 487px #ffbefd, 929px 702px #ffbefd, 394px 1348px #ffbefd, 1161px 641px #ffbefd,
    219px 1841px #ffbefd, 358px 941px #ffbefd, 140px 1759px #ffbefd, 1019px 1345px #ffbefd,
    274px 436px #ffbefd, 1433px 1605px #ffbefd, 1798px 1426px #ffbefd,
    294px 1848px #ffbefd, 1681px 1877px #ffbefd, 1344px 1824px #ffbefd,
    1439px 1632px #ffbefd, 161px 1012px #ffbefd, 1308px 588px #ffbefd,
    1789px 582px #ffbefd, 721px 1910px #ffbefd, 318px 218px #ffbefd, 607px 319px #ffbefd,
    495px 535px #ffbefd, 1552px 1575px #ffbefd, 1562px 67px #ffbefd, 403px 926px #ffbefd,
    1096px 1800px #ffbefd, 1814px 1709px #ffbefd, 1882px 1831px #ffbefd,
    533px 46px #ffbefd, 823px 969px #ffbefd, 530px 165px #ffbefd, 1030px 352px #ffbefd,
    1681px 313px #ffbefd, 338px 115px #ffbefd, 1607px 211px #ffbefd, 1718px 1184px #ffbefd,
    1589px 659px #ffbefd, 278px 355px #ffbefd, 464px 1464px #ffbefd, 1165px 277px #ffbefd,
    950px 694px #ffbefd, 1746px 293px #ffbefd, 793px 911px #ffbefd, 528px 773px #ffbefd,
    1883px 1694px #ffbefd, 748px 182px #ffbefd, 1924px 1531px #ffbefd, 100px 636px #ffbefd,
    1473px 1445px #ffbefd, 1264px 1244px #ffbefd, 850px 1377px #ffbefd,
    987px 1976px #ffbefd, 933px 1761px #ffbefd, 922px 1270px #ffbefd, 500px 396px #ffbefd,
    1324px 8px #ffbefd, 1967px 1814px #ffbefd, 1072px 1401px #ffbefd, 961px 37px #ffbefd,
    156px 81px #ffbefd, 1915px 502px #ffbefd, 1076px 1846px #ffbefd, 152px 1669px #ffbefd,
    986px 1529px #ffbefd, 1667px 1137px #ffbefd;
}

.stars2::after {
  content: "";
  width: 2px;
  height: 2px;
  background: transparent;
  position: absolute;
  top: 2000px;
  box-shadow: 1448px 320px #ffbefd, 1775px 1663px #ffbefd, 332px 1364px #ffbefd,
    878px 340px #ffbefd, 569px 1832px #ffbefd, 1422px 1684px #ffbefd,
    1946px 1907px #ffbefd, 121px 979px #ffbefd, 1044px 1069px #ffbefd, 463px 381px #ffbefd,
    423px 112px #ffbefd, 523px 1179px #ffbefd, 779px 654px #ffbefd, 1398px 694px #ffbefd,
    1085px 1464px #ffbefd, 1599px 1869px #ffbefd, 801px 1882px #ffbefd,
    779px 1231px #ffbefd, 552px 932px #ffbefd, 1057px 1196px #ffbefd, 282px 1280px #ffbefd,
    496px 1986px #ffbefd, 1833px 1120px #ffbefd, 1802px 1293px #ffbefd, 6px 1696px #ffbefd,
    412px 1902px #ffbefd, 605px 438px #ffbefd, 24px 1212px #ffbefd, 234px 1320px #ffbefd,
    544px 344px #ffbefd, 1107px 170px #ffbefd, 1603px 196px #ffbefd, 905px 648px #ffbefd,
    68px 1458px #ffbefd, 649px 1969px #ffbefd, 744px 675px #ffbefd, 1127px 478px #ffbefd,
    714px 1814px #ffbefd, 1486px 526px #ffbefd, 270px 1636px #ffbefd, 1931px 149px #ffbefd,
    1807px 378px #ffbefd, 8px 390px #ffbefd, 1415px 699px #ffbefd, 1473px 1211px #ffbefd,
    1590px 141px #ffbefd, 270px 1705px #ffbefd, 69px 1423px #ffbefd, 1108px 1053px #ffbefd,
    1946px 128px #ffbefd, 371px 371px #ffbefd, 1490px 220px #ffbefd, 357px 1885px #ffbefd,
    363px 363px #ffbefd, 1896px 1256px #ffbefd, 1979px 1050px #ffbefd,
    947px 1342px #ffbefd, 1754px 242px #ffbefd, 514px 974px #ffbefd, 65px 1477px #ffbefd,
    1840px 547px #ffbefd, 950px 695px #ffbefd, 459px 1150px #ffbefd, 1124px 1502px #ffbefd,
    481px 940px #ffbefd, 680px 839px #ffbefd, 797px 1169px #ffbefd, 1977px 1491px #ffbefd,
    734px 1724px #ffbefd, 210px 298px #ffbefd, 816px 628px #ffbefd, 686px 770px #ffbefd,
    1721px 267px #ffbefd, 1663px 511px #ffbefd, 1481px 1141px #ffbefd, 582px 248px #ffbefd,
    1308px 953px #ffbefd, 628px 657px #ffbefd, 897px 1535px #ffbefd, 270px 931px #ffbefd,
    791px 467px #ffbefd, 1336px 1732px #ffbefd, 1013px 1653px #ffbefd,
    1911px 956px #ffbefd, 587px 816px #ffbefd, 83px 456px #ffbefd, 930px 1478px #ffbefd,
    1587px 1694px #ffbefd, 614px 1200px #ffbefd, 302px 1782px #ffbefd,
    1711px 1432px #ffbefd, 443px 904px #ffbefd, 1666px 714px #ffbefd,
    1588px 1167px #ffbefd, 273px 1075px #ffbefd, 1679px 461px #ffbefd, 721px 664px #ffbefd,
    1202px 10px #ffbefd, 166px 1126px #ffbefd, 331px 1628px #ffbefd, 430px 1565px #ffbefd,
    1585px 509px #ffbefd, 640px 38px #ffbefd, 822px 837px #ffbefd, 1760px 1664px #ffbefd,
    1122px 1458px #ffbefd, 398px 131px #ffbefd, 689px 285px #ffbefd, 460px 652px #ffbefd,
    1627px 365px #ffbefd, 348px 1648px #ffbefd, 819px 1946px #ffbefd, 981px 1917px #ffbefd,
    323px 76px #ffbefd, 979px 684px #ffbefd, 887px 536px #ffbefd, 1348px 1596px #ffbefd,
    1055px 666px #ffbefd, 1402px 1797px #ffbefd, 1300px 1055px #ffbefd,
    937px 238px #ffbefd, 1474px 1815px #ffbefd, 1144px 1710px #ffbefd,
    1629px 1087px #ffbefd, 911px 919px #ffbefd, 771px 819px #ffbefd, 403px 720px #ffbefd,
    163px 736px #ffbefd, 1062px 238px #ffbefd, 1774px 818px #ffbefd, 1874px 1178px #ffbefd,
    1177px 699px #ffbefd, 1244px 1244px #ffbefd, 1371px 58px #ffbefd, 564px 1515px #ffbefd,
    1824px 487px #ffbefd, 929px 702px #ffbefd, 394px 1348px #ffbefd, 1161px 641px #ffbefd,
    219px 1841px #ffbefd, 358px 941px #ffbefd, 140px 1759px #ffbefd, 1019px 1345px #ffbefd,
    274px 436px #ffbefd, 1433px 1605px #ffbefd, 1798px 1426px #ffbefd,
    294px 1848px #ffbefd, 1681px 1877px #ffbefd, 1344px 1824px #ffbefd,
    1439px 1632px #ffbefd, 161px 1012px #ffbefd, 1308px 588px #ffbefd,
    1789px 582px #ffbefd, 721px 1910px #ffbefd, 318px 218px #ffbefd, 607px 319px #ffbefd,
    495px 535px #ffbefd, 1552px 1575px #ffbefd, 1562px 67px #ffbefd, 403px 926px #ffbefd,
    1096px 1800px #ffbefd, 1814px 1709px #ffbefd, 1882px 1831px #ffbefd,
    533px 46px #ffbefd, 823px 969px #ffbefd, 530px 165px #ffbefd, 1030px 352px #ffbefd,
    1681px 313px #ffbefd, 338px 115px #ffbefd, 1607px 211px #ffbefd, 1718px 1184px #ffbefd,
    1589px 659px #ffbefd, 278px 355px #ffbefd, 464px 1464px #ffbefd, 1165px 277px #ffbefd,
    950px 694px #ffbefd, 1746px 293px #ffbefd, 793px 911px #ffbefd, 528px 773px #ffbefd,
    1883px 1694px #ffbefd, 748px 182px #ffbefd, 1924px 1531px #ffbefd, 100px 636px #ffbefd,
    1473px 1445px #ffbefd, 1264px 1244px #ffbefd, 850px 1377px #ffbefd,
    987px 1976px #ffbefd, 933px 1761px #ffbefd, 922px 1270px #ffbefd, 500px 396px #ffbefd,
    1324px 8px #ffbefd, 1967px 1814px #ffbefd, 1072px 1401px #ffbefd, 961px 37px #ffbefd,
    156px 81px #ffbefd, 1915px 502px #ffbefd, 1076px 1846px #ffbefd, 152px 1669px #ffbefd,
    986px 1529px #ffbefd, 1667px 1137px #ffbefd;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 200s linear infinite;
  box-shadow: 387px 1878px #ffbefd, 760px 1564px #ffbefd, 1487px 999px #ffbefd,
    948px 1828px #ffbefd, 1977px 1001px #ffbefd, 1284px 1963px #ffbefd,
    656px 284px #ffbefd, 1268px 1635px #ffbefd, 1820px 598px #ffbefd, 642px 1900px #ffbefd,
    296px 57px #ffbefd, 921px 1620px #ffbefd, 476px 1858px #ffbefd, 658px 613px #ffbefd,
    1171px 1363px #ffbefd, 1419px 283px #ffbefd, 1037px 731px #ffbefd, 503px 663px #ffbefd,
    1562px 463px #ffbefd, 383px 1197px #ffbefd, 1171px 1233px #ffbefd,
    876px 1768px #ffbefd, 856px 1615px #ffbefd, 1375px 1924px #ffbefd,
    1725px 918px #ffbefd, 952px 119px #ffbefd, 768px 1212px #ffbefd, 992px 1462px #ffbefd,
    1929px 717px #ffbefd, 1947px 755px #ffbefd, 1818px 1123px #ffbefd,
    1896px 1672px #ffbefd, 460px 198px #ffbefd, 256px 271px #ffbefd, 752px 544px #ffbefd,
    1222px 1859px #ffbefd, 1851px 443px #ffbefd, 313px 1858px #ffbefd, 709px 446px #ffbefd,
    1546px 697px #ffbefd, 674px 1155px #ffbefd, 1112px 130px #ffbefd, 355px 1790px #ffbefd,
    1496px 974px #ffbefd, 1696px 480px #ffbefd, 1316px 1265px #ffbefd,
    1645px 1063px #ffbefd, 1182px 237px #ffbefd, 427px 1582px #ffbefd, 859px 253px #ffbefd,
    458px 939px #ffbefd, 1517px 1644px #ffbefd, 1943px 60px #ffbefd, 212px 1650px #ffbefd,
    966px 1786px #ffbefd, 473px 712px #ffbefd, 130px 76px #ffbefd, 1417px 1186px #ffbefd,
    909px 1580px #ffbefd, 1913px 762px #ffbefd, 204px 1143px #ffbefd,
    1998px 1057px #ffbefd, 1468px 1301px #ffbefd, 144px 1676px #ffbefd,
    21px 1601px #ffbefd, 382px 1362px #ffbefd, 912px 753px #ffbefd, 1488px 1405px #ffbefd,
    802px 156px #ffbefd, 174px 550px #ffbefd, 338px 1366px #ffbefd, 1197px 774px #ffbefd,
    602px 486px #ffbefd, 682px 1877px #ffbefd, 348px 1503px #ffbefd, 407px 1139px #ffbefd,
    950px 1400px #ffbefd, 922px 1139px #ffbefd, 1697px 293px #ffbefd,
    1238px 1281px #ffbefd, 1038px 1197px #ffbefd, 376px 1889px #ffbefd,
    1255px 1680px #ffbefd, 1008px 1316px #ffbefd, 1538px 1447px #ffbefd,
    1186px 874px #ffbefd, 1967px 640px #ffbefd, 1341px 19px #ffbefd, 29px 1732px #ffbefd,
    16px 1650px #ffbefd, 1021px 1075px #ffbefd, 723px 424px #ffbefd, 1175px 41px #ffbefd,
    494px 1957px #ffbefd, 1296px 431px #ffbefd, 175px 1507px #ffbefd, 831px 121px #ffbefd,
    498px 1947px #ffbefd, 617px 880px #ffbefd, 240px 403px #ffbefd;
}

.stars3::after {
  content: "";
  width: 3px;
  height: 3px;
  background: transparent;
  position: absolute;
  top: 2000px;
  box-shadow: 387px 1878px #ffbefd, 760px 1564px #ffbefd, 1487px 999px #ffbefd,
    948px 1828px #ffbefd, 1977px 1001px #ffbefd, 1284px 1963px #ffbefd,
    656px 284px #ffbefd, 1268px 1635px #ffbefd, 1820px 598px #ffbefd, 642px 1900px #ffbefd,
    296px 57px #ffbefd, 921px 1620px #ffbefd, 476px 1858px #ffbefd, 658px 613px #ffbefd,
    1171px 1363px #ffbefd, 1419px 283px #ffbefd, 1037px 731px #ffbefd, 503px 663px #ffbefd,
    1562px 463px #ffbefd, 383px 1197px #ffbefd, 1171px 1233px #ffbefd,
    876px 1768px #ffbefd, 856px 1615px #ffbefd, 1375px 1924px #ffbefd,
    1725px 918px #ffbefd, 952px 119px #ffbefd, 768px 1212px #ffbefd, 992px 1462px #ffbefd,
    1929px 717px #ffbefd, 1947px 755px #ffbefd, 1818px 1123px #ffbefd,
    1896px 1672px #ffbefd, 460px 198px #ffbefd, 256px 271px #ffbefd, 752px 544px #ffbefd,
    1222px 1859px #ffbefd, 1851px 443px #ffbefd, 313px 1858px #ffbefd, 709px 446px #ffbefd,
    1546px 697px #ffbefd, 674px 1155px #ffbefd, 1112px 130px #ffbefd, 355px 1790px #ffbefd,
    1496px 974px #ffbefd, 1696px 480px #ffbefd, 1316px 1265px #ffbefd,
    1645px 1063px #ffbefd, 1182px 237px #ffbefd, 427px 1582px #ffbefd, 859px 253px #ffbefd,
    458px 939px #ffbefd, 1517px 1644px #ffbefd, 1943px 60px #ffbefd, 212px 1650px #ffbefd,
    966px 1786px #ffbefd, 473px 712px #ffbefd, 130px 76px #ffbefd, 1417px 1186px #ffbefd,
    909px 1580px #ffbefd, 1913px 762px #ffbefd, 204px 1143px #ffbefd,
    1998px 1057px #ffbefd, 1468px 1301px #ffbefd, 144px 1676px #ffbefd,
    21px 1601px #ffbefd, 382px 1362px #ffbefd, 912px 753px #ffbefd, 1488px 1405px #ffbefd,
    802px 156px #ffbefd, 174px 550px #ffbefd, 338px 1366px #ffbefd, 1197px 774px #ffbefd,
    602px 486px #ffbefd, 682px 1877px #ffbefd, 348px 1503px #ffbefd, 407px 1139px #ffbefd,
    950px 1400px #ffbefd, 922px 1139px #ffbefd, 1697px 293px #ffbefd,
    1238px 1281px #ffbefd, 1038px 1197px #ffbefd, 376px 1889px #ffbefd,
    1255px 1680px #ffbefd, 1008px 1316px #ffbefd, 1538px 1447px #ffbefd,
    1186px 874px #ffbefd, 1967px 640px #ffbefd, 1341px 19px #ffbefd, 29px 1732px #ffbefd,
    16px 1650px #ffbefd, 1021px 1075px #ffbefd, 723px 424px #ffbefd, 1175px 41px #ffbefd,
    494px 1957px #ffbefd, 1296px 431px #ffbefd, 175px 1507px #ffbefd, 831px 121px #ffbefd,
    498px 1947px #ffbefd, 617px 880px #ffbefd, 240px 403px #ffbefd;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
