
.buttonBox {
	margin: 35px auto;
	position: relative;
	border-radius: 40px;
	background: #1F1C2B;
    padding: 2% 2%;

    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 60px 100px #0E0C14);
}

.toggleBtn {
	padding: 20px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;

    h1{
        font-size: 2.5rem;
        color: #A39EB8;
        transition: .5s;
    }
    
}


.bton {
	left: 0;
    padding: 2% 4%;
	top: -4%;
	position: absolute;
	width: 55%;
	height: 107%;
	background: #2B2837;
	border-radius: 50px;
	transition: .5s;
    filter: drop-shadow(40px 30px 80px #0D0B11);
}