.buttonBox {
  margin: 35px auto;
  position: relative;
  border-radius: 45px;
  background: #1f1c2b;
  padding: 2% 2%;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0px 60px 100px #0e0c14);
}

.toggleBtn {
  padding: 0.6rem 1.8rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  flex: 1;
}

.toggleBtn h1 {
  font-size: 1.45rem;
  color: #a39eb8;
  transition: 0.5s;
  margin: 0;
}

.toggleBtn.moduleHead h1 {
  font-size: 1.25rem;
}

@media screen and (max-width: 900px) {
  .toggleBtn h1 {
    font-size: 1.3rem;
  }

  .toggleBtn.moduleHead h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 720px) {
  .toggleBtn {
    padding: 0.45rem 1.2rem;
  }

  .toggleBtn h1 {
    font-size: 1.2rem;
  }

  .toggleBtn.moduleHead h1 {
    font-size: 1rem;
  }
}

.bton {
  left: 0;
  padding: 2% 4%;
  top: -4%;
  position: absolute;
  width: 33.333%;
  height: 107%;
  background: #2b2837;
  border-radius: 50px;
  transition: 0.5s;
  filter: drop-shadow(40px 30px 80px #0d0b11);
}
