.container {
  // display: flex;
  // overflow: hidden;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 9999;
  // background-color: black;
  display: none;
}

.container.active {
  display: block;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden !important;
  z-index: 50000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
