@font-face {
  font-family: "Anita";
  src: url("../../../public/fonts/RoundHand_Free.ttf") format("truetype");
  /* Add additional font files if needed (e.g., bold, italic) */
  font-weight: normal;
  font-style: normal;
}

.hamburger {
  display: none;
}
.show {
  display: none;
}
.grp1 a {
  text-decoration: none;
}
.grp2 a {
  text-decoration: none;
}

.menu_bar {
  position: fixed;
  z-index: 800000;
  top: -10vh;
  display: flex;
  flex-direction: row;
  width: 95vw;
  margin-left: 2vw;
  align-items: center;
  justify-content: space-between;
  max-height: 9vh;
  border-radius: 3rem;
  padding-left: 2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  transition: all 0.5s ease-in-out;
  .wrapper {
    display: flex;
    gap: 1vw;
    background: transparent;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2vw;
      font-style: normal;
      font-weight: 400;
      line-height: 97.5%; /* 46.8px */
    }

    .dark {
      color: #fff;
    }
    .logo {
      width: 8vw;
      height: 4vw;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }
  }
  .grp2 {
    display: flex;
    max-height: 7vh;
    padding-right: 2vw;
    justify-content: center;
    color: #000000;
    align-items: center;
    font-size: 2vw;
    font-weight: 500;
    line-height: 97.5%;
    .btn {
      display: flex;
    }
    .item {
      display: inline-flex;
      padding: 0.87vw 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      text-decoration: none;
      margin-left: 0.25vw;
      margin-right: 0.25vw;
      border: 3px solid transparent;
      border-radius: 3rem;
      transition: all 0.25s ease-in-out;
      font-family: "Anita", sans-serif;
      font-weight: 500;
    }
  }

  .grp1 {
    display: flex;
    max-height: 7vh;
    padding-right: 2vw;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 2vw;
    font-weight: 500;
    line-height: 97.5%;
    .item1 {
      cursor: pointer;
      display: inline-flex;
      padding: 0.87vw 30px;
      justify-content: center;
      font-family: "Anita", sans-serif;
      font-weight: 500;
      align-items: center;
      margin-left: 0.25vw;
      margin-right: 0.25vw;
      gap: 10px;
      color: white;
      text-decoration: none;
      border: 3px solid transparent;
      border-radius: 3rem;
      transition: all 0.25s ease-in-out;
    }
  }
  .item1:hover {
    border-radius: 3rem;
    border: 3px solid white;
  }
}

@media screen and (max-width: 760px) {
  .hamburger {
    z-index: 800000;
    position: fixed;
    top: -10vh;
    display: flex;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    transition: all 0.5s ease-in-out;
    .menu {
      display: block;
      width: 10vw;
    }
  }
  .show {
    z-index: 800000;
    display: flex;
    border-radius: 10px;
    gap: 7vw;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 85vw;
    transition: 850ms;
    box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    .close {
      background: transparent;
      border: none;
    }
    .cross {
      display: block;
      width: 10vw;
      margin-left: 5vw;
      margin-top: 1.5vh;
    }
    .footer {
      display: flex;
      flex-direction: row;
      margin-left: 5vw;
      max-height: 10vh;
      margin-right: 5vw;
      justify-content: space-between;
      margin-top: 5vh;
      margin-bottom: 3.5vh;
      .social {
        display: flex;
        gap: 4.5vw;
        .link {
          display: block;
          margin: auto;
        }
      }
      .follow {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6vw;
        font-style: normal;
        font-weight: 500;
        font-family: "Anita", sans-serif;
        line-height: normal;
      }
    }
    .nav_menu {
      display: flex;
      flex-direction: column;
      padding-left: 5vw;
      gap: 5vh;
      cursor: pointer;
      color: whitesmoke;
      font-family: "Anita", sans-serif;
      font-size: clamp(6vw, 7vw, 8vw);
      font-weight: 500;
      line-height: 138%;
      .nav_items {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        text-decoration: none;
      }
    }
    .nav_items_a {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .show.active {
    left: 0;
    transition: 350ms;
  }
  .menu_bar {
    display: none;
  }
}
