.bro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  color: #fff;
  margin-top: 9.375rem;

  
.heading {
  h1 {
    font-size: 6vw;
    font-weight: 400;
    @media screen and (max-width: 760px) {
      font-size: 7vw;
    }
    @media screen and (max-width: 500px) {
      font-size: 8vw;
    }
    @media screen and (max-width: 425px) {
      font-size: 11vw;
      text-align: start;
    }
  }

  margin-bottom: 3.125rem;
}

}


.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  justify-content: center;
  border-radius: 3.375rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(5, 3, 3, 0.7);
  backdrop-filter: blur(50px);
  flex-direction: column;
  flex-shrink: 0;
}

.heading h2 {
  padding: 3.75rem 7.5rem;
  color: #fff;
  font-family: Allura;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.box {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.heading h2 {
  color: #fff;
  font-family: Allura;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 98%;
  /* 3.92rem */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.box label {
  color: #fff;
  font-family: "Expletus Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box input {
  display: flex;
  padding: 1rem 2rem;
  height: 2.5rem;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  outline: none;
  border-radius: 3.6875rem;
  width: 49vw;
  border-top: none;
  -webkit-box-shadow: 0.5px 0.5px 0px 0px rgba(23, 163, 91, 1);
  -moz-box-shadow: 0.5px 0.5px 0px 0px rgba(23, 163, 91, 1);
  box-shadow: 0.5px 0.5px 0px 0px rgba(23, 163, 91, 1);
  background: transparent;
  color: white;
}

.sub button {
  display: flex;
  width: 9.9375rem;
  height: 3rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: linear-gradient(207deg, #3ec5a4 8.69%, #175f62 92.29%);
  color: #000;
  font-family: Gabriela;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    background: linear-gradient(207deg, #087056 8.69%, #0a8084 92.29%);
    cursor: pointer;
  }
}

.sub {
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box span {
  padding-bottom: 10px;
  color: #ef3e3e;
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  .heading h2 {
    padding: 4rem 5rem;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  .heading h2 {
    padding: 3rem 3rem;
    font-size: 2rem;
  }

  .container {
    width: 80vw;
  }

  .box input {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .heading h2 {
    padding: 3rem 2.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }

  .container {
    width: 84vw;
    border-radius: 1.375rem;
  }

  .box input {
    width: 70vw;
  }

  .sub button {
    width: 7.3em;
    height: 2.5rem;
    font-size: 1.05rem;
    border-radius: 1.5rem;
  }

  .box span {
    padding-bottom: 15px;
    color: #ef3e3e;
  }

  .box input {
    padding: 1rem 2rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 350px) {
  .heading h2 {
    padding: 2.5rem 2rem;
  }
}

@media screen and (max-width: 320px) {
  .heading h2 {
    font-size: 1.1rem;
  }

  .box label {
    font-size: 1rem;
  }
}
