#card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5%;
  width: 17vw;
  height: 34vh;
  border: 5px solid rgb(245, 177, 5);
  border-radius: 15%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#card #innerPortion {
  background-color: rgba(44, 3, 49, 0.5);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 1%;
}

#card #innerPortion #img {
  padding: 0;
  margin: 0;
}

#card #innerPortion #img img {
  width: 80%;
  height: 80%;
}

#card #innerPortion #title {
  font-size: 30px;
  font-weight: bold;
}
