.body {
  margin-top: 25vh;
  // padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  color: #fff;

  @media only screen and (max-width: 480px) {
    margin-top: 10vh;
    gap: 0;
  }

  .text {
    // font-family: allura;
    text-align: center;
    font-size: max(6vw, 2rem);
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10vh 0;
    // background-color: green;

    @media only screen and (max-width: 1100px) {
      flex-direction: column;
      gap: 5vh;
    }

    @media only screen and (max-width: 480px) {
      gap: 0;
    }

    // @media only screen and (max-width: 365px) {
    //   flex-direction: column;
    //   flex-wrap: nowrap;
    //   justify-content: baseline;
    //   align-items: center;
    // }

    .sub1,
    .sub2 {
      display: flex;
      justify-content: space-evenly;
      gap: 5vw;
      position: relative;
      // background-color: red;

      @media only screen and (max-width: 300px) {
        flex-direction: column;
        gap: 0;
      }
    }

    #leafs2 {
      position: absolute;
      width: 30vw;
      height: 50vh;
      left: -30%;
      top: 50%;

      transform: rotate(270deg);

      @media only screen and (max-width: 1100px) {
        height: fit-content;
        width: 50%;
        top: 55%;
        left: -3%;
      }

      @media only screen and (max-width: 480px) {
        top: 15%;
      }
    }

    #leafs1 {
      position: absolute;
      width: 30vw;
      height: 50vh;
      top: 0%;
      right: -30%;
      // background-color: blue;

      transform: rotate(90deg);

      @media only screen and (max-width: 1100px) {
        top: 6%;
        right: -3%;
        height: fit-content;
        width: 50%;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10vh;
      position: relative;
      z-index: 1;

      @media only screen and (max-width: 480px) {
        gap: 5vh;
        margin-top: 5vh;
      }
    }

    #col2,
    #col4 {
      transform: translateY(12vh);

      @media only screen and (max-width: 380px) {
        transform: translateY(0);
      }
    }
  }
}
