.body {
  margin-top: 10vh;
  min-height: 50vh;
  // background: #01262b;
  font-family: allura;
  color: white;
  // display: flex;
  // flex-direction: column;
  // gap: 5vh;
  // align-items: center;
  text-align: center;
  overflow: hidden;

  #swiper {
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .qsn {
    font-size: 70px;
    margin-bottom: 8vh;
  }

  .banner {
    font-family: serif;
    width: 90%;
    height: 45vh;

    transform: translateX(5%);

    background: url(../../../../public/images/Texture.png) no-repeat;
    background-color: #000000;
    // box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.50);
    background-size: 100% 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .lottie {
      width: 40%;
      height: 100%;
    }
  }
}
